# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "uiaerohorizon":
        prefix: "uiaerohorizon"
        body: '''uiaerohorizon(${1:Parent}, ${2:properties})'''
        description: '''uiaerohorizon(Parent, properties)'''


    "uiaeroairspeed":
        prefix: "uiaeroairspeed"
        body: '''uiaeroairspeed(${1:Parent}, ${2:properties})'''
        description: '''uiaeroairspeed(Parent, properties)'''


    "uiaerorpm":
        prefix: "uiaerorpm"
        body: '''uiaerorpm(${1:Parent}, ${2:properties})'''
        description: '''uiaerorpm(Parent, properties)'''


    "uiaeroclimb":
        prefix: "uiaeroclimb"
        body: '''uiaeroclimb(${1:Parent}, ${2:properties})'''
        description: '''uiaeroclimb(Parent, properties)'''


    "uiaeroturn":
        prefix: "uiaeroturn"
        body: '''uiaeroturn(${1:Parent}, ${2:properties})'''
        description: '''uiaeroturn(Parent, properties)'''


    "uiaeroheading":
        prefix: "uiaeroheading"
        body: '''uiaeroheading(${1:Parent}, ${2:properties})'''
        description: '''uiaeroheading(Parent, properties)'''


    "uiaeroegt":
        prefix: "uiaeroegt"
        body: '''uiaeroegt(${1:Parent}, ${2:properties})'''
        description: '''uiaeroegt(Parent, properties)'''


    "uiaeroaltimeter":
        prefix: "uiaeroaltimeter"
        body: '''uiaeroaltimeter(${1:Parent}, ${2:properties})'''
        description: '''uiaeroaltimeter(Parent, properties)'''

