# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "buildStandaloneCoderAssumptions":
        prefix: "buildStandaloneCoderAssumptions"
        body: '''buildStandaloneCoderAssumptions(${1:buildFolder})'''
        description: '''buildStandaloneCoderAssumptions(buildFolder)'''
        descriptionMoreURL: 'https://www.mathworks.com/help/coder/ref/buildStandaloneCoderAssumptions.html'

