# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
".source.matlab":

    "coder.config":
    prefix: "coder.config"
    body: '''coder.config(${1:build_type}, 'ecoder', ${2:value})'''
    description: '''coder.config(${1:build_type}, 'ecoder', ${2:value})'''


    "coder.OutputType":
    prefix: "coder.OutputType"
    body: '''coder.OutputType(${1:name})'''
    description: '''coder.OutputType(${1:name})'''

