# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
".source.matlab":

    "buildStandaloneCoderAssumptions":
    prefix: "buildStandaloneCoderAssumptions"
    body: '''buildStandaloneCoderAssumptions(${1:buildFolder})'''
    description: '''buildStandaloneCoderAssumptions(${1:buildFolder})'''

