# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "deploytool":
        prefix: "deploytool"
        body: '''deploytool(${1:filename}, ${2:optional_varargin})'''
        description: '''deploytool(filename, optional_varargin)'''

