# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "dsp.MatFileWriter":
        prefix: "dsp.MatFileWriter"
        body: '''dsp.MatFileWriter(${1:Filename}, ${2:VariableName}, ${3:varargin})'''
        description: '''dsp.MatFileWriter(${1:Filename}, ${2:VariableName}, ${3:varargin})'''


    "dsp.CoupledAllpassFilter":
        prefix: "dsp.CoupledAllpassFilter"
        body: '''dsp.CoupledAllpassFilter(${1:AllpassCoefficients1}, ${2:AllpassCoefficients2}, ${3:varargin})'''
        description: '''dsp.CoupledAllpassFilter(${1:AllpassCoefficients1}, ${2:AllpassCoefficients2}, ${3:varargin})'''


    "dsp.AllpassFilter":
        prefix: "dsp.AllpassFilter"
        body: '''dsp.AllpassFilter(${1:varargin})'''
        description: '''dsp.AllpassFilter(${1:varargin})'''


    "dsp.HampelFilter":
        prefix: "dsp.HampelFilter"
        body: '''dsp.HampelFilter(${1:WindowLength}, ${2:Threshold}, ${3:varargin})'''
        description: '''dsp.HampelFilter(${1:WindowLength}, ${2:Threshold}, ${3:varargin})'''


    "dsp.HDLFIRRateConverter":
        prefix: "dsp.HDLFIRRateConverter"
        body: '''dsp.HDLFIRRateConverter(${1:InterpolationFactor}, ${2:DecimationFactor}, ${3:Numerator}, ${4:varargin})'''
        description: '''dsp.HDLFIRRateConverter(${1:InterpolationFactor}, ${2:DecimationFactor}, ${3:Numerator}, ${4:varargin})'''


    "dsp.ParametricEQFilter":
        prefix: "dsp.ParametricEQFilter"
        body: '''dsp.ParametricEQFilter(${1:varargin})'''
        description: '''dsp.ParametricEQFilter(${1:varargin})'''


    "dsp.AnalyticSignal":
        prefix: "dsp.AnalyticSignal"
        body: '''dsp.AnalyticSignal(${1:FilterOrder}, ${2:varargin})'''
        description: '''dsp.AnalyticSignal(${1:FilterOrder}, ${2:varargin})'''


    "dsp.ArrayVectorSubtractor":
        prefix: "dsp.ArrayVectorSubtractor"
        body: '''dsp.ArrayVectorSubtractor(${1:varargin})'''
        description: '''dsp.ArrayVectorSubtractor(${1:varargin})'''


    "dsp.SampleRateConverter":
        prefix: "dsp.SampleRateConverter"
        body: '''dsp.SampleRateConverter(${1:varargin})'''
        description: '''dsp.SampleRateConverter(${1:varargin})'''


    "dsp.MovingMinimum":
        prefix: "dsp.MovingMinimum"
        body: '''dsp.MovingMinimum(${1:WindowLength}, ${2:varargin})'''
        description: '''dsp.MovingMinimum(${1:WindowLength}, ${2:varargin})'''


    "dsp.AffineProjectionFilter":
        prefix: "dsp.AffineProjectionFilter"
        body: '''dsp.AffineProjectionFilter(${1:Length}, ${2:varargin})'''
        description: '''dsp.AffineProjectionFilter(${1:Length}, ${2:varargin})'''


    "dsp.FilteredXLMSFilter":
        prefix: "dsp.FilteredXLMSFilter"
        body: '''dsp.FilteredXLMSFilter(${1:Length}, ${2:varargin})'''
        description: '''dsp.FilteredXLMSFilter(${1:Length}, ${2:varargin})'''


    "dsp.AdaptiveLatticeFilter":
        prefix: "dsp.AdaptiveLatticeFilter"
        body: '''dsp.AdaptiveLatticeFilter(${1:Length}, ${2:varargin})'''
        description: '''dsp.AdaptiveLatticeFilter(${1:Length}, ${2:varargin})'''


    "dsp.DCBlocker":
        prefix: "dsp.DCBlocker"
        body: '''dsp.DCBlocker(${1:varargin})'''
        description: '''dsp.DCBlocker(${1:varargin})'''


    "dsp.DynamicFilterVisualizer":
        prefix: "dsp.DynamicFilterVisualizer"
        body: '''dsp.DynamicFilterVisualizer(${1:FFTLength}, ${2:SampleRate}, ${3:FrequencyRange}, ${4:varargin})'''
        description: '''dsp.DynamicFilterVisualizer(${1:FFTLength}, ${2:SampleRate}, ${3:FrequencyRange}, ${4:varargin})'''


    "dsp.SpectrumEstimator":
        prefix: "dsp.SpectrumEstimator"
        body: '''dsp.SpectrumEstimator(${1:varargin})'''
        description: '''dsp.SpectrumEstimator(${1:varargin})'''


    "dsp.STFT":
        prefix: "dsp.STFT"
        body: '''dsp.STFT(${1:Window}, ${2:OverlapLength}, ${3:FFTLength}, ${4:varargin})'''
        description: '''dsp.STFT(${1:Window}, ${2:OverlapLength}, ${3:FFTLength}, ${4:varargin})'''


    "dsp.ArrayPlot":
        prefix: "dsp.ArrayPlot"
        body: '''dsp.ArrayPlot(${1:NumInputPorts}, ${2:varargin})'''
        description: '''dsp.ArrayPlot(${1:NumInputPorts}, ${2:varargin})'''


    "dsp.VariableBandwidthFIRFilter":
        prefix: "dsp.VariableBandwidthFIRFilter"
        body: '''dsp.VariableBandwidthFIRFilter(${1:varargin})'''
        description: '''dsp.VariableBandwidthFIRFilter(${1:varargin})'''


    "dsp.FastTransversalFilter":
        prefix: "dsp.FastTransversalFilter"
        body: '''dsp.FastTransversalFilter(${1:Length}, ${2:varargin})'''
        description: '''dsp.FastTransversalFilter(${1:Length}, ${2:varargin})'''


    "dsp.SignalSink":
        prefix: "dsp.SignalSink"
        body: '''dsp.SignalSink(${1:varargin})'''
        description: '''dsp.SignalSink(${1:varargin})'''


    "dsp.HighpassFilter":
        prefix: "dsp.HighpassFilter"
        body: '''dsp.HighpassFilter(${1:varargin})'''
        description: '''dsp.HighpassFilter(${1:varargin})'''


    "dsp.CICCompensationInterpolator":
        prefix: "dsp.CICCompensationInterpolator"
        body: '''dsp.CICCompensationInterpolator(${1:InterpolationFactor}, ${2:varargin})'''
        description: '''dsp.CICCompensationInterpolator(${1:InterpolationFactor}, ${2:varargin})'''


    "dsp.DigitalUpConverter":
        prefix: "dsp.DigitalUpConverter"
        body: '''dsp.DigitalUpConverter(${1:varargin})'''
        description: '''dsp.DigitalUpConverter(${1:varargin})'''


    "dsp.Channelizer":
        prefix: "dsp.Channelizer"
        body: '''dsp.Channelizer(${1:NumFrequencyBands}, ${2:varargin})'''
        description: '''dsp.Channelizer(${1:NumFrequencyBands}, ${2:varargin})'''


    "dsp.MovingRMS":
        prefix: "dsp.MovingRMS"
        body: '''dsp.MovingRMS(${1:WindowLength}, ${2:varargin})'''
        description: '''dsp.MovingRMS(${1:WindowLength}, ${2:varargin})'''


    "dsp.ISTFT":
        prefix: "dsp.ISTFT"
        body: '''dsp.ISTFT(${1:Window}, ${2:OverlapLength}, ${3:ConjugateSymmetricInput}, ${4:WeightedOverlapAdd}, ${5:varargin})'''
        description: '''dsp.ISTFT(${1:Window}, ${2:OverlapLength}, ${3:ConjugateSymmetricInput}, ${4:WeightedOverlapAdd}, ${5:varargin})'''


    "dsp.SpectrumAnalyzer":
        prefix: "dsp.SpectrumAnalyzer"
        body: '''dsp.SpectrumAnalyzer(${1:NumInputPorts}, ${2:varargin})'''
        description: '''dsp.SpectrumAnalyzer(${1:NumInputPorts}, ${2:varargin})'''


    "dsp.FrequencyDomainAdaptiveFilter":
        prefix: "dsp.FrequencyDomainAdaptiveFilter"
        body: '''dsp.FrequencyDomainAdaptiveFilter(${1:Length}, ${2:varargin})'''
        description: '''dsp.FrequencyDomainAdaptiveFilter(${1:Length}, ${2:varargin})'''


    "dsp.MovingVariance":
        prefix: "dsp.MovingVariance"
        body: '''dsp.MovingVariance(${1:WindowLength}, ${2:varargin})'''
        description: '''dsp.MovingVariance(${1:WindowLength}, ${2:varargin})'''


    "dsp.CICCompensationDecimator":
        prefix: "dsp.CICCompensationDecimator"
        body: '''dsp.CICCompensationDecimator(${1:DecimationFactor}, ${2:varargin})'''
        description: '''dsp.CICCompensationDecimator(${1:DecimationFactor}, ${2:varargin})'''


    "dsp.MatrixViewer":
        prefix: "dsp.MatrixViewer"
        body: '''dsp.MatrixViewer(${1:varargin})'''
        description: '''dsp.MatrixViewer(${1:varargin})'''


    "dsp.MedianFilter":
        prefix: "dsp.MedianFilter"
        body: '''dsp.MedianFilter(${1:WindowLength}, ${2:varargin})'''
        description: '''dsp.MedianFilter(${1:WindowLength}, ${2:varargin})'''


    "dsp.PhaseExtractor":
        prefix: "dsp.PhaseExtractor"
        body: '''dsp.PhaseExtractor(${1:varargin})'''
        description: '''dsp.PhaseExtractor(${1:varargin})'''


    "dsp.FarrowRateConverter":
        prefix: "dsp.FarrowRateConverter"
        body: '''dsp.FarrowRateConverter(${1:InputSampleRate}, ${2:OutputSampleRate}, ${3:OutputRateTolerance}, ${4:PolynomialOrder}, ${5:varargin})'''
        description: '''dsp.FarrowRateConverter(${1:InputSampleRate}, ${2:OutputSampleRate}, ${3:OutputRateTolerance}, ${4:PolynomialOrder}, ${5:varargin})'''


    "dsp.MovingStandardDeviation":
        prefix: "dsp.MovingStandardDeviation"
        body: '''dsp.MovingStandardDeviation(${1:WindowLength}, ${2:varargin})'''
        description: '''dsp.MovingStandardDeviation(${1:WindowLength}, ${2:varargin})'''


    "dsp.AsyncBuffer":
        prefix: "dsp.AsyncBuffer"
        body: '''dsp.AsyncBuffer(${1:Capacity}, ${2:varargin})'''
        description: '''dsp.AsyncBuffer(${1:Capacity}, ${2:varargin})'''


    "dsp.HDLNCO":
        prefix: "dsp.HDLNCO"
        body: '''dsp.HDLNCO(${1:PhaseIncrement}, ${2:varargin})'''
        description: '''dsp.HDLNCO(${1:PhaseIncrement}, ${2:varargin})'''


    "dsp.BinaryFileWriter":
        prefix: "dsp.BinaryFileWriter"
        body: '''dsp.BinaryFileWriter(${1:Filename}, ${2:varargin})'''
        description: '''dsp.BinaryFileWriter(${1:Filename}, ${2:varargin})'''


    "dsp.MovingMaximum":
        prefix: "dsp.MovingMaximum"
        body: '''dsp.MovingMaximum(${1:WindowLength}, ${2:varargin})'''
        description: '''dsp.MovingMaximum(${1:WindowLength}, ${2:varargin})'''


    "dsp.CICInterpolator":
        prefix: "dsp.CICInterpolator"
        body: '''dsp.CICInterpolator(${1:InterpolationFactor}, ${2:DifferentialDelay}, ${3:NumSections}, ${4:varargin})'''
        description: '''dsp.CICInterpolator(${1:InterpolationFactor}, ${2:DifferentialDelay}, ${3:NumSections}, ${4:varargin})'''


    "dsp.PeakToRMS":
        prefix: "dsp.PeakToRMS"
        body: '''dsp.PeakToRMS(${1:varargin})'''
        description: '''dsp.PeakToRMS(${1:varargin})'''


    "dsp.HDLIFFT":
        prefix: "dsp.HDLIFFT"
        body: '''dsp.HDLIFFT(${1:varargin})'''
        description: '''dsp.HDLIFFT(${1:varargin})'''


    "dsp.SignalSource":
        prefix: "dsp.SignalSource"
        body: '''dsp.SignalSource(${1:Signal}, ${2:SamplesPerFrame}, ${3:varargin})'''
        description: '''dsp.SignalSource(${1:Signal}, ${2:SamplesPerFrame}, ${3:varargin})'''


    "dsp.IIRHalfbandInterpolator":
        prefix: "dsp.IIRHalfbandInterpolator"
        body: '''dsp.IIRHalfbandInterpolator(${1:varargin})'''
        description: '''dsp.IIRHalfbandInterpolator(${1:varargin})'''


    "dsp.CICDecimator":
        prefix: "dsp.CICDecimator"
        body: '''dsp.CICDecimator(${1:DecimationFactor}, ${2:DifferentialDelay}, ${3:NumSections}, ${4:varargin})'''
        description: '''dsp.CICDecimator(${1:DecimationFactor}, ${2:DifferentialDelay}, ${3:NumSections}, ${4:varargin})'''


    "dsp.ColoredNoise":
        prefix: "dsp.ColoredNoise"
        body: '''dsp.ColoredNoise(${1:InverseFrequencyPower}, ${2:SamplesPerFrame}, ${3:NumChannels}, ${4:varargin})'''
        description: '''dsp.ColoredNoise(${1:InverseFrequencyPower}, ${2:SamplesPerFrame}, ${3:NumChannels}, ${4:varargin})'''


    "dsp.TransferFunctionEstimator":
        prefix: "dsp.TransferFunctionEstimator"
        body: '''dsp.TransferFunctionEstimator(${1:varargin})'''
        description: '''dsp.TransferFunctionEstimator(${1:varargin})'''


    "dsp.BurgSpectrumEstimator":
        prefix: "dsp.BurgSpectrumEstimator"
        body: '''dsp.BurgSpectrumEstimator(${1:varargin})'''
        description: '''dsp.BurgSpectrumEstimator(${1:varargin})'''


    "dsp.DigitalDownConverter":
        prefix: "dsp.DigitalDownConverter"
        body: '''dsp.DigitalDownConverter(${1:varargin})'''
        description: '''dsp.DigitalDownConverter(${1:varargin})'''


    "dsp.ChannelSynthesizer":
        prefix: "dsp.ChannelSynthesizer"
        body: '''dsp.ChannelSynthesizer(${1:varargin})'''
        description: '''dsp.ChannelSynthesizer(${1:varargin})'''


    "dsp.MatFileReader":
        prefix: "dsp.MatFileReader"
        body: '''dsp.MatFileReader(${1:Filename}, ${2:VariableName}, ${3:SamplesPerFrame}, ${4:varargin})'''
        description: '''dsp.MatFileReader(${1:Filename}, ${2:VariableName}, ${3:SamplesPerFrame}, ${4:varargin})'''


    "dsp.Differentiator":
        prefix: "dsp.Differentiator"
        body: '''dsp.Differentiator(${1:varargin})'''
        description: '''dsp.Differentiator(${1:varargin})'''


    "dsp.ComplexBandpassDecimator":
        prefix: "dsp.ComplexBandpassDecimator"
        body: '''dsp.ComplexBandpassDecimator(${1:DecimationFactor}, ${2:CenterFrequency}, ${3:SampleRate}, ${4:varargin})'''
        description: '''dsp.ComplexBandpassDecimator(${1:DecimationFactor}, ${2:CenterFrequency}, ${3:SampleRate}, ${4:varargin})'''


    "dsp.BinaryFileReader":
        prefix: "dsp.BinaryFileReader"
        body: '''dsp.BinaryFileReader(${1:Filename}, ${2:varargin})'''
        description: '''dsp.BinaryFileReader(${1:Filename}, ${2:varargin})'''


    "dsp.FIRHalfbandDecimator":
        prefix: "dsp.FIRHalfbandDecimator"
        body: '''dsp.FIRHalfbandDecimator(${1:varargin})'''
        description: '''dsp.FIRHalfbandDecimator(${1:varargin})'''


    "dsp.HDLFFT":
        prefix: "dsp.HDLFFT"
        body: '''dsp.HDLFFT(${1:varargin})'''
        description: '''dsp.HDLFFT(${1:varargin})'''


    "dsp.PeakToPeak":
        prefix: "dsp.PeakToPeak"
        body: '''dsp.PeakToPeak(${1:varargin})'''
        description: '''dsp.PeakToPeak(${1:varargin})'''


    "dsp.KalmanFilter":
        prefix: "dsp.KalmanFilter"
        body: '''dsp.KalmanFilter(${1:StateTransitionMatrix}, ${2:MeasurementMatrix}, ${3:ProcessNoiseCovariance}, ${4:MeasurementNoiseCovariance}, ${5:ControlInputMatrix}, ${6:varargin})'''
        description: '''dsp.KalmanFilter(${1:StateTransitionMatrix}, ${2:MeasurementMatrix}, ${3:ProcessNoiseCovariance}, ${4:MeasurementNoiseCovariance}, ${5:ControlInputMatrix}, ${6:varargin})'''


    "dsp.HDLComplexToMagnitudeAngle":
        prefix: "dsp.HDLComplexToMagnitudeAngle"
        body: '''dsp.HDLComplexToMagnitudeAngle(${1:varargin})'''
        description: '''dsp.HDLComplexToMagnitudeAngle(${1:varargin})'''


    "dsp.SubbandAnalysisFilter":
        prefix: "dsp.SubbandAnalysisFilter"
        body: '''dsp.SubbandAnalysisFilter(${1:LowpassCoefficients}, ${2:HighpassCoefficients}, ${3:varargin})'''
        description: '''dsp.SubbandAnalysisFilter(${1:LowpassCoefficients}, ${2:HighpassCoefficients}, ${3:varargin})'''


    "dsp.FIRHalfbandInterpolator":
        prefix: "dsp.FIRHalfbandInterpolator"
        body: '''dsp.FIRHalfbandInterpolator(${1:varargin})'''
        description: '''dsp.FIRHalfbandInterpolator(${1:varargin})'''


    "dsp.MovingAverage":
        prefix: "dsp.MovingAverage"
        body: '''dsp.MovingAverage(${1:WindowLength}, ${2:varargin})'''
        description: '''dsp.MovingAverage(${1:WindowLength}, ${2:varargin})'''


    "dsp.SubbandSynthesisFilter":
        prefix: "dsp.SubbandSynthesisFilter"
        body: '''dsp.SubbandSynthesisFilter(${1:LowpassCoefficients}, ${2:HighpassCoefficients}, ${3:varargin})'''
        description: '''dsp.SubbandSynthesisFilter(${1:LowpassCoefficients}, ${2:HighpassCoefficients}, ${3:varargin})'''


    "dsp.RLSFilter":
        prefix: "dsp.RLSFilter"
        body: '''dsp.RLSFilter(${1:Length}, ${2:varargin})'''
        description: '''dsp.RLSFilter(${1:Length}, ${2:varargin})'''


    "dsp.IIRHalfbandDecimator":
        prefix: "dsp.IIRHalfbandDecimator"
        body: '''dsp.IIRHalfbandDecimator(${1:varargin})'''
        description: '''dsp.IIRHalfbandDecimator(${1:varargin})'''


    "dsp.ZoomFFT":
        prefix: "dsp.ZoomFFT"
        body: '''dsp.ZoomFFT(${1:DecimationFactor}, ${2:CenterFrequency}, ${3:SampleRate}, ${4:varargin})'''
        description: '''dsp.ZoomFFT(${1:DecimationFactor}, ${2:CenterFrequency}, ${3:SampleRate}, ${4:varargin})'''


    "dsp.LowpassFilter":
        prefix: "dsp.LowpassFilter"
        body: '''dsp.LowpassFilter(${1:varargin})'''
        description: '''dsp.LowpassFilter(${1:varargin})'''


    "dsp.TimeScope":
        prefix: "dsp.TimeScope"
        body: '''dsp.TimeScope(${1:NumInputPorts}, ${2:SampleRate}, ${3:varargin})'''
        description: '''dsp.TimeScope(${1:NumInputPorts}, ${2:SampleRate}, ${3:varargin})'''


    "dsp.VariableBandwidthIIRFilter":
        prefix: "dsp.VariableBandwidthIIRFilter"
        body: '''dsp.VariableBandwidthIIRFilter(${1:varargin})'''
        description: '''dsp.VariableBandwidthIIRFilter(${1:varargin})'''


    "dsp.CrossSpectrumEstimator":
        prefix: "dsp.CrossSpectrumEstimator"
        body: '''dsp.CrossSpectrumEstimator(${1:varargin})'''
        description: '''dsp.CrossSpectrumEstimator(${1:varargin})'''


    "dsp.FourthOrderSectionFilter":
        prefix: "dsp.FourthOrderSectionFilter"
        body: '''dsp.FourthOrderSectionFilter(${1:Numerator}, ${2:Denominator}, ${3:varargin})'''
        description: '''dsp.FourthOrderSectionFilter(${1:Numerator}, ${2:Denominator}, ${3:varargin})'''


    "dsp.FrequencyDomainFIRFilter":
        prefix: "dsp.FrequencyDomainFIRFilter"
        body: '''dsp.FrequencyDomainFIRFilter(${1:Numerator}, ${2:varargin})'''
        description: '''dsp.FrequencyDomainFIRFilter(${1:Numerator}, ${2:varargin})'''


    "dsp.NotchPeakFilter":
        prefix: "dsp.NotchPeakFilter"
        body: '''dsp.NotchPeakFilter(${1:varargin})'''
        description: '''dsp.NotchPeakFilter(${1:varargin})'''

