# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "MultiStart.run":
        prefix: "MultiStart.run"
        body: '''MultiStart.run(${1:problem}, ${2:optional_numstartpts})'''
        description: '''MultiStart.run(problem, optional_numstartpts)'''


    "gamultiobj":
        prefix: "gamultiobj"
        body: '''gamultiobj(${1:fun}, ${2:nvars}, ${3:Aineq}, ${4:bineq}, ${5:Aeq}, ${6:beq}, ${7:lb}, ${8:ub}, ${9:nonlcon}, ${10:options})'''
        description: '''gamultiobj(fun, nvars, Aineq, bineq, Aeq, beq, lb, ub, nonlcon, options)'''


    "surrogateopt":
        prefix: "surrogateopt"
        body: '''surrogateopt(${1:filename}, ${2:options})'''
        description: '''surrogateopt(filename, options)'''


    "particleswarm":
        prefix: "particleswarm"
        body: '''particleswarm(${1:fun}, ${2:nvars}, ${3:lb}, ${4:ub}, ${5:options})'''
        description: '''particleswarm(fun, nvars, lb, ub, options)'''


    "CustomStartPointSet":
        prefix: "CustomStartPointSet"
        body: '''CustomStartPointSet(${1:ptsmatrix})'''
        description: '''CustomStartPointSet(ptsmatrix)'''


    "patternsearch":
        prefix: "patternsearch"
        body: '''patternsearch(${1:fun}, ${2:x0}, ${3:Aineq}, ${4:bineq}, ${5:Aeq}, ${6:beq}, ${7:lb}, ${8:ub}, ${9:nonlcon}, ${10:options})'''
        description: '''patternsearch(fun, x0, Aineq, bineq, Aeq, beq, lb, ub, nonlcon, options)'''


    "simulannealbnd":
        prefix: "simulannealbnd"
        body: '''simulannealbnd(${1:fun}, ${2:x0}, ${3:lb}, ${4:ub}, ${5:options})'''
        description: '''simulannealbnd(fun, x0, lb, ub, options)'''


    "GlobalSearch":
        prefix: "GlobalSearch"
        body: '''GlobalSearch(${1:optional_oldSolver}, 'BasinRadiusFactor', ${2:value}, 'Display', ${3:value}, 'DistanceThresholdFactor', ${4:value}, 'FunctionTolerance', ${5:value}, 'MaxTime', ${6:value}, 'MaxWaitCycle', ${7:value}, 'NumStageOnePoints', ${8:value}, 'OutputFcn', ${9:value}, 'PenaltyThresholdFactor', ${10:value}, 'PlotFcn', ${11:value}, 'StartPointsToRun', ${12:value}, 'XTolerance', ${13:value})'''
        description: '''GlobalSearch(optional_oldSolver, 'BasinRadiusFactor', value, 'Display', value, 'DistanceThresholdFactor', value, 'FunctionTolerance', value, 'MaxTime', value, 'MaxWaitCycle', value, 'NumStageOnePoints', value, 'OutputFcn', value, 'PenaltyThresholdFactor', value, 'PlotFcn', value, 'StartPointsToRun', value, 'XTolerance', value)'''


    "paretosearch":
        prefix: "paretosearch"
        body: '''paretosearch(${1:fun}, ${2:nvars}, ${3:Aineq}, ${4:bineq}, ${5:Aeq}, ${6:beq}, ${7:lb}, ${8:ub}, ${9:nonlcon}, ${10:options})'''
        description: '''paretosearch(fun, nvars, Aineq, bineq, Aeq, beq, lb, ub, nonlcon, options)'''


    "RandomStartPointSet.list":
        prefix: "RandomStartPointSet.list"
        body: '''RandomStartPointSet.list(${1:rs}, ${2:problem})'''
        description: '''RandomStartPointSet.list(rs, problem)'''


    "ga":
        prefix: "ga"
        body: '''ga(${1:fun}, ${2:nvars}, ${3:Aineq}, ${4:bineq}, ${5:Aeq}, ${6:beq}, ${7:lb}, ${8:ub}, ${9:nonlcon}, ${10:intcon})'''
        description: '''ga(fun, nvars, Aineq, bineq, Aeq, beq, lb, ub, nonlcon, intcon)'''


    "MultiStart":
        prefix: "MultiStart"
        body: '''MultiStart(${1:optional_oldSolver}, 'Display', ${2:value}, 'FunctionTolerance', ${3:value}, 'MaxTime', ${4:value}, 'OutputFcn', ${5:value}, 'PlotFcn', ${6:value}, 'StartPointsToRun', ${7:value}, 'UseParallel', ${8:value}, 'XTolerance', ${9:value})'''
        description: '''MultiStart(optional_oldSolver, 'Display', value, 'FunctionTolerance', value, 'MaxTime', value, 'OutputFcn', value, 'PlotFcn', value, 'StartPointsToRun', value, 'UseParallel', value, 'XTolerance', value)'''


    "CustomStartPointSet.list":
        prefix: "CustomStartPointSet.list"
        body: '''CustomStartPointSet.list(${1:cs})'''
        description: '''CustomStartPointSet.list(cs)'''


    "RandomStartPointSet":
        prefix: "RandomStartPointSet"
        body: '''RandomStartPointSet(${1:optional_oldrs}, 'ArtificialBound', ${2:value}, 'NumStartPoints', ${3:value})'''
        description: '''RandomStartPointSet(optional_oldrs, 'ArtificialBound', value, 'NumStartPoints', value)'''


    "GlobalSearch.run":
        prefix: "GlobalSearch.run"
        body: '''GlobalSearch.run(${1:problem})'''
        description: '''GlobalSearch.run(problem)'''

