# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "brisqueModel [images]":
        prefix: "brisqueModel"
        body: '''${1:Model} = brisqueModel(${1:Alpha}, ${2:Bias}, ${3:SupportVectors}, ${4:Scale})'''
        description: '''Model = brisqueModel(Alpha, Bias, SupportVectors, Scale)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/brisqueModel.html'


    "imsegkmeans [images]":
        prefix: "imsegkmeans"
        body: '''[${1:L}, ${2:C}] = imsegkmeans(${1:I}, ${2:k}, 'NormalizeInput', ${3:value}, 'NumAttempts', ${4:value}, 'MaxIterations', ${5:value}, 'Threshold', ${6:value})'''
        description: '''[L, C] = imsegkmeans(I, k, 'NormalizeInput', value, 'NumAttempts', value, 'MaxIterations', value, 'Threshold', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imsegkmeans.html'


    "dice [images]":
        prefix: "dice"
        body: '''${1:SIMILARITY} = dice(${1:BW1}, ${2:BW2})'''
        description: '''SIMILARITY = dice(BW1, BW2)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/dice.html'


    "lazysnapping [images]":
        prefix: "lazysnapping"
        body: '''${1:BW} = lazysnapping(${1:A}, ${2:L}, ${3:FOREMASK}, ${4:BACKMASK}, 'Connectivity', ${5:value}, 'EdgeWeightScaleFactor', ${6:value})'''
        description: '''BW = lazysnapping(A, L, FOREMASK, BACKMASK, 'Connectivity', value, 'EdgeWeightScaleFactor', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/lazysnapping.html'


    "plotChromaticity [images]":
        prefix: "plotChromaticity"
        body: '''plotChromaticity(${1:colorTable}, 'displayROIIndex', ${2:value}, 'Parent', ${3:value})'''
        description: '''plotChromaticity(colorTable, 'displayROIIndex', value, 'Parent', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/plotChromaticity.html'


    "imdiffusefilt [images]":
        prefix: "imdiffusefilt"
        body: '''${1:B} = imdiffusefilt(${1:A}, 'GradientThreshold', ${2:value}, 'NumberOfIterations', ${3:value}, 'Connectivity', ${4:value}, 'ConductionMethod', ${5:value})'''
        description: '''B = imdiffusefilt(A, 'GradientThreshold', value, 'NumberOfIterations', value, 'Connectivity', value, 'ConductionMethod', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imdiffusefilt.html'


    "grabcut [images]":
        prefix: "grabcut"
        body: '''${1:BW} = grabcut(${1:A}, ${2:L}, ${3:ROI}, ${4:optional_FOREMASK}, ${5:optional_BACKMASK}, 'Connectivity', ${6:value}, 'MaximumIterations', ${7:value})'''
        description: '''BW = grabcut(A, L, ROI, optional_FOREMASK, optional_BACKMASK, 'Connectivity', value, 'MaximumIterations', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/grabcut.html'


    "gradientweight [images]":
        prefix: "gradientweight"
        body: '''${1:W} = gradientweight(${1:I}, ${2:optional_sigma}, 'RolloffFactor', ${3:value}, 'WeightCutoff', ${4:value})'''
        description: '''W = gradientweight(I, optional_sigma, 'RolloffFactor', value, 'WeightCutoff', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/gradientweight.html'


    "imcrop [images]":
        prefix: "imcrop"
        body: '''${1:BW} = imcrop(${1:I}, ${2:optional_RECT})'''
        description: '''BW = imcrop(I, optional_RECT)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imcrop.html'


    "imnlmfilt [images]":
        prefix: "imnlmfilt"
        body: '''[${1:B}, ${2:DegreeOfSmoothing}] = imnlmfilt(${1:A}, 'ComparisonWindowSize', ${2:value}, 'DegreeOfSmoothing', ${3:value}, 'SearchWindowSize', ${4:value})'''
        description: '''[B, DegreeOfSmoothing] = imnlmfilt(A, 'ComparisonWindowSize', value, 'DegreeOfSmoothing', value, 'SearchWindowSize', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imnlmfilt.html'


    "blendexposure [images]":
        prefix: "blendexposure"
        body: '''${1:E} = blendexposure(${1:I1}, ${2:I2}, 'Contrast', ${3:value}, 'Saturation', ${4:value}, 'WellExposedness', ${5:value}, 'ReduceStrongLight', ${6:value})'''
        description: '''E = blendexposure(I1, I2, 'Contrast', value, 'Saturation', value, 'WellExposedness', value, 'ReduceStrongLight', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/blendexposure.html'


    "bwselect3 [images]":
        prefix: "bwselect3"
        body: '''${1:J} = bwselect3(${1:X}, ${2:Y}, ${3:Z}, ${4:V}, ${5:Xi}, ${6:Yi}, ${7:Zi}, ${8:optional_N})'''
        description: '''J = bwselect3(X, Y, Z, V, Xi, Yi, Zi, optional_N)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/bwselect3.html'


    "esfrChart [images]":
        prefix: "esfrChart"
        body: '''${1:CHART} = esfrChart(${1:A}, 'RegistrationPoints', ${2:value})'''
        description: '''CHART = esfrChart(A, 'RegistrationPoints', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/esfrChart.html'


    "imflatfield [images]":
        prefix: "imflatfield"
        body: '''${1:B} = imflatfield(${1:A}, ${2:Sigma}, ${3:optional_Mask}, 'FilterSize', ${4:value})'''
        description: '''B = imflatfield(A, Sigma, optional_Mask, 'FilterSize', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imflatfield.html'


    "randomAffine2d [images]":
        prefix: "randomAffine2d"
        body: '''randomAffine2d('XReflection', ${1:value}, 'YReflection', ${2:value}, 'Rotation', ${3:value}, 'Scale', ${4:value}, 'XShear', ${5:value}, 'YShear', ${6:value}, 'XTranslation', ${7:value}, 'YTranslation', ${8:value})'''
        description: '''randomAffine2d('XReflection', value, 'YReflection', value, 'Rotation', value, 'Scale', value, 'XShear', value, 'YShear', value, 'XTranslation', value, 'YTranslation', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/randomAffine2d.html'


    "imbinarize [images]":
        prefix: "imbinarize"
        body: '''${1:BW} = imbinarize(${1:I}, ${2:Method}, 'Sensitivity', ${3:value}, 'ForegroundPolarity', ${4:value})'''
        description: '''BW = imbinarize(I, Method, 'Sensitivity', value, 'ForegroundPolarity', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imbinarize.html'


    "measureColor [images]":
        prefix: "measureColor"
        body: '''[${1:colorTable}, ${2:colorCorrectionMatrix}] = measureColor(${1:CHART})'''
        description: '''[colorTable, colorCorrectionMatrix] = measureColor(CHART)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/measureColor.html'


    "bfscore [images]":
        prefix: "bfscore"
        body: '''[${1:SCORE}, ${2:PRECISION}, ${3:RECALL}] = bfscore(${1:PREDICTION}, ${2:GROUNDTRUTH}, ${3:optional_THRESHOLD})'''
        description: '''[SCORE, PRECISION, RECALL] = bfscore(PREDICTION, GROUNDTRUTH, optional_THRESHOLD)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/bfscore.html'


    "imregmtb [images]":
        prefix: "imregmtb"
        body: '''[${1:R1}, ${2:shifts}] = imregmtb(${1:M1}, ${2:M2})'''
        description: '''[R1, shifts] = imregmtb(M1, M2)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imregmtb.html'


    "fspecial3 [images]":
        prefix: "fspecial3"
        body: '''${1:H} = fspecial3(${1:TYPE}, ${2:optional_direction})'''
        description: '''H = fspecial3(TYPE, optional_direction)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/fspecial3.html'


    "jitterColorHSV [images]":
        prefix: "jitterColorHSV"
        body: '''jitterColorHSV(${1:A}, 'Contrast', ${2:value}, 'Brightness', ${3:value}, 'Hue', ${4:value}, 'Saturation', ${5:value})'''
        description: '''jitterColorHSV(A, 'Contrast', value, 'Brightness', value, 'Hue', value, 'Saturation', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/jitterColorHSV.html'


    "inpaintExemplar [images]":
        prefix: "inpaintExemplar"
        body: '''${1:J} = inpaintExemplar(${1:I}, ${2:mask}, 'FillOrder', ${3:value}, 'PatchSize', ${4:value})'''
        description: '''J = inpaintExemplar(I, mask, 'FillOrder', value, 'PatchSize', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/inpaintExemplar.html'


    "bwferet [images]":
        prefix: "bwferet"
        body: '''[${1:Out}, ${2:L}] = bwferet(${1:BW}, ${2:optional_Properties})'''
        description: '''[Out, L] = bwferet(BW, optional_Properties)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/bwferet.html'


    "regionprops3 [images]":
        prefix: "regionprops3"
        body: '''${1:stats} = regionprops3(${1:BW}, ${2:V}, ${3:optional_Properties})'''
        description: '''stats = regionprops3(BW, V, optional_Properties)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/regionprops3.html'


    "bwdist [images]":
        prefix: "bwdist"
        body: '''[${1:D}, ${2:IDX}] = bwdist(${1:BW}, ${2:optional_METHOD})'''
        description: '''[D, IDX] = bwdist(BW, optional_METHOD)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/bwdist.html'


    "randomAffine3d [images]":
        prefix: "randomAffine3d"
        body: '''randomAffine3d('XReflection', ${1:value}, 'YReflection', ${2:value}, 'ZReflection', ${3:value}, 'Rotation', ${4:value}, 'Scale', ${5:value}, 'Shear', ${6:value}, 'XTranslation', ${7:value}, 'YTranslation', ${8:value}, 'ZTranslation', ${9:value})'''
        description: '''randomAffine3d('XReflection', value, 'YReflection', value, 'ZReflection', value, 'Rotation', value, 'Scale', value, 'Shear', value, 'XTranslation', value, 'YTranslation', value, 'ZTranslation', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/randomAffine3d.html'


    "regionprops [images]":
        prefix: "regionprops"
        body: '''${1:Out} = regionprops(${1:optional_Option}, ${2:BW}, ${3:optional_Properties})'''
        description: '''Out = regionprops(optional_Option, BW, optional_Properties)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/regionprops.html'


    "measureNoise [images]":
        prefix: "measureNoise"
        body: '''${1:noiseTable} = measureNoise(${1:CHART})'''
        description: '''noiseTable = measureNoise(CHART)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/measureNoise.html'


    "measureIlluminant [images]":
        prefix: "measureIlluminant"
        body: '''${1:illum} = measureIlluminant(${1:CHART})'''
        description: '''illum = measureIlluminant(CHART)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/measureIlluminant.html'


    "imrotate3 [images]":
        prefix: "imrotate3"
        body: '''${1:B} = imrotate3(${1:V}, ${2:Angle}, ${3:W}, ${4:optional_Method}, ${5:optional_BBOX}, 'FillValues', ${6:value})'''
        description: '''B = imrotate3(V, Angle, W, optional_Method, optional_BBOX, 'FillValues', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imrotate3.html'


    "localcontrast [images]":
        prefix: "localcontrast"
        body: '''${1:B} = localcontrast(${1:A}, ${2:edgeThreshold}, ${3:optional_amount})'''
        description: '''B = localcontrast(A, edgeThreshold, optional_amount)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/localcontrast.html'


    "niqe [images]":
        prefix: "niqe"
        body: '''${1:Score} = niqe(${1:A}, ${2:optional_Model})'''
        description: '''Score = niqe(A, optional_Model)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/niqe.html'


    "superpixels3 [images]":
        prefix: "superpixels3"
        body: '''[${1:L}, ${2:NumLabels}] = superpixels3(${1:A}, ${2:N}, 'Compactness', ${3:value}, 'Method', ${4:value}, 'NumIterations', ${5:value})'''
        description: '''[L, NumLabels] = superpixels3(A, N, 'Compactness', value, 'Method', value, 'NumIterations', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/superpixels3.html'


    "imreducehaze [images]":
        prefix: "imreducehaze"
        body: '''[${1:D}, ${2:T}, ${3:L}] = imreducehaze(${1:X}, ${2:optional_amount}, 'Method', ${3:value}, 'AtmosphericLight', ${4:value}, 'ContrastEnhancement', ${5:value}, 'BoostAmount', ${6:value})'''
        description: '''[D, T, L] = imreducehaze(X, optional_amount, 'Method', value, 'AtmosphericLight', value, 'ContrastEnhancement', value, 'BoostAmount', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imreducehaze.html'


    "measureSharpness [images]":
        prefix: "measureSharpness"
        body: '''[${1:sharpnessTable}, ${2:aggregateSharpnessTable}] = measureSharpness(${1:CHART}, 'ROIIndex', ${2:value}, 'ROIOrientation', ${3:value}, 'PercentResponse', ${4:value})'''
        description: '''[sharpnessTable, aggregateSharpnessTable] = measureSharpness(CHART, 'ROIIndex', value, 'ROIOrientation', value, 'PercentResponse', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/measureSharpness.html'


    "labeloverlay [images]":
        prefix: "labeloverlay"
        body: '''${1:B} = labeloverlay(${1:A}, ${2:L}, 'Colormap', ${3:value}, 'IncludedLabels', ${4:value}, 'Transparency', ${5:value})'''
        description: '''B = labeloverlay(A, L, 'Colormap', value, 'IncludedLabels', value, 'Transparency', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/labeloverlay.html'


    "bwmorph3 [images]":
        prefix: "bwmorph3"
        body: '''${1:J} = bwmorph3(${1:V}, ${2:Operation})'''
        description: '''J = bwmorph3(V, Operation)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/bwmorph3.html'


    "imsplit [images]":
        prefix: "imsplit"
        body: '''imsplit(${1:I})'''
        description: '''imsplit(I)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imsplit.html'


    "measureChromaticAberration [images]":
        prefix: "measureChromaticAberration"
        body: '''${1:aberrationTable} = measureChromaticAberration(${1:CHART}, 'ROIIndex', ${2:value}, 'ROIOrientation', ${3:value})'''
        description: '''aberrationTable = measureChromaticAberration(CHART, 'ROIIndex', value, 'ROIOrientation', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/measureChromaticAberration.html'


    "displayColorPatch [images]":
        prefix: "displayColorPatch"
        body: '''displayColorPatch(${1:colorTable}, 'displayROIIndex', ${2:value}, 'displayDeltaE', ${3:value}, 'Parent', ${4:value})'''
        description: '''displayColorPatch(colorTable, 'displayROIIndex', value, 'displayDeltaE', value, 'Parent', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/displayColorPatch.html'


    "graydiffweight [images]":
        prefix: "graydiffweight"
        body: '''${1:W} = graydiffweight(${1:I}, ${2:refGrayVal}, ${3:optional_MASK}, ${4:optional_C}, 'RolloffFactor', ${5:value}, 'GrayDifferenceCutoff', ${6:value})'''
        description: '''W = graydiffweight(I, refGrayVal, optional_MASK, optional_C, 'RolloffFactor', value, 'GrayDifferenceCutoff', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/graydiffweight.html'


    "imlocalbrighten [images]":
        prefix: "imlocalbrighten"
        body: '''[${1:B}, ${2:D}] = imlocalbrighten(${1:A}, ${2:optional_amount}, 'AlphaBlend', ${3:value})'''
        description: '''[B, D] = imlocalbrighten(A, optional_amount, 'AlphaBlend', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imlocalbrighten.html'


    "imrotate [images]":
        prefix: "imrotate"
        body: '''${1:B} = imrotate(${1:A}, ${2:Angle}, ${3:optional_Method}, ${4:optional_BBOX})'''
        description: '''B = imrotate(A, Angle, optional_Method, optional_BBOX)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imrotate.html'


    "inpaintCoherent [images]":
        prefix: "inpaintCoherent"
        body: '''${1:J} = inpaintCoherent(${1:I}, ${2:mask}, 'SmoothingFactor', ${3:value}, 'Radius', ${4:value})'''
        description: '''J = inpaintCoherent(I, mask, 'SmoothingFactor', value, 'Radius', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/inpaintCoherent.html'


    "locallapfilt [images]":
        prefix: "locallapfilt"
        body: '''${1:B} = locallapfilt(${1:A}, ${2:sigma}, ${3:alpha}, ${4:optional_beta}, 'ColorMode', ${5:value}, 'NumIntensityLevels', ${6:value})'''
        description: '''B = locallapfilt(A, sigma, alpha, optional_beta, 'ColorMode', value, 'NumIntensityLevels', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/locallapfilt.html'


    "tonemapfarbman [images]":
        prefix: "tonemapfarbman"
        body: '''${1:LDR} = tonemapfarbman(${1:HDR}, 'RangeCompression', ${2:value}, 'Saturation', ${3:value}, 'Exposure', ${4:value}, 'NumberOfScales', ${5:value}, 'Weights', ${6:value})'''
        description: '''LDR = tonemapfarbman(HDR, 'RangeCompression', value, 'Saturation', value, 'Exposure', value, 'NumberOfScales', value, 'Weights', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/tonemapfarbman.html'


    "imbilatfilt [images]":
        prefix: "imbilatfilt"
        body: '''${1:B} = imbilatfilt(${1:A}, ${2:optional_DegreeOfSmoothing}, ${3:optional_SpatialSigma}, 'NeighborhoodSize', ${4:value}, 'Padding', ${5:value})'''
        description: '''B = imbilatfilt(A, optional_DegreeOfSmoothing, optional_SpatialSigma, 'NeighborhoodSize', value, 'Padding', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imbilatfilt.html'


    "fitniqe [images]":
        prefix: "fitniqe"
        body: '''${1:Model} = fitniqe(${1:IMDS}, 'BlockSize', ${2:value}, 'SharpnessThreshold', ${3:value})'''
        description: '''Model = fitniqe(IMDS, 'BlockSize', value, 'SharpnessThreshold', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/fitniqe.html'


    "imcrop3 [images]":
        prefix: "imcrop3"
        body: '''${1:VOUT} = imcrop3(${1:V}, ${2:Cuboid})'''
        description: '''VOUT = imcrop3(V, Cuboid)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imcrop3.html'


    "imsegkmeans3 [images]":
        prefix: "imsegkmeans3"
        body: '''[${1:L}, ${2:C}] = imsegkmeans3(${1:V}, ${2:k}, 'NormalizeInput', ${3:value}, 'NumAttempts', ${4:value}, 'MaxIterations', ${5:value}, 'Threshold', ${6:value})'''
        description: '''[L, C] = imsegkmeans3(V, k, 'NormalizeInput', value, 'NumAttempts', value, 'MaxIterations', value, 'Threshold', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imsegkmeans3.html'


    "localtonemap [images]":
        prefix: "localtonemap"
        body: '''${1:RGB} = localtonemap(${1:HDR}, 'RangeCompression', ${2:value}, 'EnhanceContrast', ${3:value})'''
        description: '''RGB = localtonemap(HDR, 'RangeCompression', value, 'EnhanceContrast', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/localtonemap.html'


    "burstinterpolant [images]":
        prefix: "burstinterpolant"
        body: '''${1:E} = burstinterpolant(${1:imds}, ${2:tforms}, ${3:arg})'''
        description: '''E = burstinterpolant(imds, tforms, arg)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/burstinterpolant.html'


    "piqe [images]":
        prefix: "piqe"
        body: '''[${1:Score}, ${2:ActivityMask}, ${3:NoticeableArtifactsMask}, ${4:NoiseMask}] = piqe(${1:A})'''
        description: '''[Score, ActivityMask, NoticeableArtifactsMask, NoiseMask] = piqe(A)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/piqe.html'


    "imdiffuseest [images]":
        prefix: "imdiffuseest"
        body: '''[${1:gradientThreshold}, ${2:numberOfIterations}] = imdiffuseest(${1:A}, 'Connectivity', ${2:value}, 'ConductionMethod', ${3:value})'''
        description: '''[gradientThreshold, numberOfIterations] = imdiffuseest(A, 'Connectivity', value, 'ConductionMethod', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imdiffuseest.html'


    "integralImage [images]":
        prefix: "integralImage"
        body: '''integralImage(${1:I}, ${2:optional_orientation})'''
        description: '''integralImage(I, optional_orientation)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/integralImage.html'


    "imsegfmm [images]":
        prefix: "imsegfmm"
        body: '''${1:BW} = imsegfmm(${1:W}, ${2:MASK}, ${3:THRESH}, ${4:optional_C}, ${5:optional_R}, ${6:optional_P})'''
        description: '''BW = imsegfmm(W, MASK, THRESH, optional_C, optional_R, optional_P)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imsegfmm.html'


    "fitbrisque [images]":
        prefix: "fitbrisque"
        body: '''${1:Model} = fitbrisque(${1:IMDS}, ${2:OpinionScore})'''
        description: '''Model = fitbrisque(IMDS, OpinionScore)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/fitbrisque.html'


    "adaptthresh [images]":
        prefix: "adaptthresh"
        body: '''${1:T} = adaptthresh(${1:I}, ${2:optional_Sensitivity}, 'NeighborhoodSize', ${3:value}, 'ForegroundPolarity', ${4:value}, 'Statistic', ${5:value})'''
        description: '''T = adaptthresh(I, optional_Sensitivity, 'NeighborhoodSize', value, 'ForegroundPolarity', value, 'Statistic', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/adaptthresh.html'


    "brisque [images]":
        prefix: "brisque"
        body: '''${1:Score} = brisque(${1:A}, ${2:optional_Model})'''
        description: '''Score = brisque(A, optional_Model)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/brisque.html'


    "edge3 [images]":
        prefix: "edge3"
        body: '''${1:BW} = edge3(${1:V}, ${2:Method}, ${3:THRESH}, ${4:optional_edgeThinning})'''
        description: '''BW = edge3(V, Method, THRESH, optional_edgeThinning)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/edge3.html'


    "images.geotrans.Warper [images]":
        prefix: "images.geotrans.Warper"
        body: '''${1:warper} = images.geotrans.Warper(${1:tform}, ${2:inputSize}, ${3:optional_outputRef}, 'Interpolation', ${4:value}, 'FillValue', ${5:value})'''
        description: '''warper = images.geotrans.Warper(tform, inputSize, optional_outputRef, 'Interpolation', value, 'FillValue', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/images.geotrans.Warper.html'


    "imadjustn [images]":
        prefix: "imadjustn"
        body: '''${1:J} = imadjustn(${1:V}, ${2:optional_LowHighIn}, ${3:optional_LowHighOut}, ${4:optional_gamma})'''
        description: '''J = imadjustn(V, optional_LowHighIn, optional_LowHighOut, optional_gamma)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imadjustn.html'


    "jaccard [images]":
        prefix: "jaccard"
        body: '''${1:SIMILARITY} = jaccard(${1:BW1}, ${2:BW2})'''
        description: '''SIMILARITY = jaccard(BW1, BW2)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/jaccard.html'


    "superpixels [images]":
        prefix: "superpixels"
        body: '''[${1:L}, ${2:NumLabels}] = superpixels(${1:A}, ${2:N}, 'Compactness', ${3:value}, 'IsInputLab', ${4:value}, 'Method', ${5:value}, 'NumIterations', ${6:value})'''
        description: '''[L, NumLabels] = superpixels(A, N, 'Compactness', value, 'IsInputLab', value, 'Method', value, 'NumIterations', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/superpixels.html'


    "niqeModel [images]":
        prefix: "niqeModel"
        body: '''${1:Model} = niqeModel(${1:Mean}, ${2:Covariance}, ${3:BlockSize}, ${4:SharpnessThreshold})'''
        description: '''Model = niqeModel(Mean, Covariance, BlockSize, SharpnessThreshold)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/niqeModel.html'


    "activecontour [images]":
        prefix: "activecontour"
        body: '''${1:BW} = activecontour(${1:A}, ${2:MASK}, ${3:optional_n}, ${4:optional_method}, 'SmoothFactor', ${5:value}, 'ContractionBias', ${6:value})'''
        description: '''BW = activecontour(A, MASK, optional_n, optional_method, 'SmoothFactor', value, 'ContractionBias', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/activecontour.html'


    "imfindcircles [images]":
        prefix: "imfindcircles"
        body: '''[${1:Centers}, ${2:Radii}, ${3:Metric}] = imfindcircles(${1:A}, ${2:Radius range}, 'ObjectPolarity', ${3:value}, 'Method', ${4:value}, 'Sensitivity', ${5:value}, 'EdgeThreshold', ${6:value})'''
        description: '''[Centers, Radii, Metric] = imfindcircles(A, Radius range, 'ObjectPolarity', value, 'Method', value, 'Sensitivity', value, 'EdgeThreshold', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imfindcircles.html'


    "imhistmatch [images]":
        prefix: "imhistmatch"
        body: '''[${1:B}, ${2:hgram}] = imhistmatch(${1:A}, ${2:REF}, ${3:optional_NBINS}, 'Method', ${4:value})'''
        description: '''[B, hgram] = imhistmatch(A, REF, optional_NBINS, 'Method', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imhistmatch.html'


    "imresize3 [images]":
        prefix: "imresize3"
        body: '''${1:B} = imresize3(${1:V}, ${2:Scale}, 'Method', ${3:value}, 'AntiAliasing', ${4:value}, 'OutputSize', ${5:value})'''
        description: '''B = imresize3(V, Scale, 'Method', value, 'AntiAliasing', value, 'OutputSize', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/imresize3.html'


    "plotSFR [images]":
        prefix: "plotSFR"
        body: '''plotSFR(${1:sharpnessMeasurementTable}, 'ROIIndex', ${2:value}, 'displayLegend', ${3:value}, 'displayTitle', ${4:value}, 'Parent', ${5:value})'''
        description: '''plotSFR(sharpnessMeasurementTable, 'ROIIndex', value, 'displayLegend', value, 'displayTitle', value, 'Parent', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/plotSFR.html'


    "fibermetric [images]":
        prefix: "fibermetric"
        body: '''${1:B} = fibermetric(${1:A}, ${2:optional_thickness}, 'ObjectPolarity', ${3:value}, 'StructureSensitivity', ${4:value})'''
        description: '''B = fibermetric(A, optional_thickness, 'ObjectPolarity', value, 'StructureSensitivity', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/fibermetric.html'


    "displayChart [images]":
        prefix: "displayChart"
        body: '''displayChart(${1:CHART}, 'displayEdgeROIs', ${2:value}, 'displayGrayROIs', ${3:value}, 'displayColorROIs', ${4:value}, 'displayRegistrationPoints', ${5:value}, 'Parent', ${6:value})'''
        description: '''displayChart(CHART, 'displayEdgeROIs', value, 'displayGrayROIs', value, 'displayColorROIs', value, 'displayRegistrationPoints', value, 'Parent', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/displayChart.html'


    "affineOutputView [images]":
        prefix: "affineOutputView"
        body: '''affineOutputView(${1:sizeA}, ${2:tform}, 'BoundsStyle', ${3:value})'''
        description: '''affineOutputView(sizeA, tform, 'BoundsStyle', value)    [images]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/images/affineOutputView.html'

