# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
".source.matlab":

    "userpath":
    prefix: "userpath"
    body: '''userpath(${1:optional_path})'''
    description: '''userpath(${1:optional_path})'''

