# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "userpath":
        prefix: "userpath"
        body: '''userpath(${1:optional_path})'''
        description: '''userpath(optional_path)'''
        descriptionMoreURL: 'https://www.mathworks.com/help/local/ref/userpath.html'

