# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
".source.matlab":

    "docroot":
    prefix: "docroot"
    body: '''docroot(${1:newRoot})'''
    description: '''docroot(${1:newRoot})'''


    "doc":
    prefix: "doc"
    body: '''doc(${1:optional_filename})'''
    description: '''doc(${1:optional_filename})'''


    "help":
    prefix: "help"
    body: '''help(${1:optional_filename})'''
    description: '''help(${1:optional_filename})'''

