# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
".source.matlab":

    "winopen":
    prefix: "winopen"
    body: '''winopen(${1:filename}, ${2:optional_varargin})'''
    description: '''winopen(${1:filename}, ${2:optional_varargin})'''

