# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "codeCompatibilityReport":
        prefix: "codeCompatibilityReport"
        body: '''codeCompatibilityReport(${1:optional_names}, 'IncludeSubfolders', ${2:value})'''
        description: '''codeCompatibilityReport(optional_names, 'IncludeSubfolders', value)'''


    "analyzeCodeCompatibility":
        prefix: "analyzeCodeCompatibility"
        body: '''analyzeCodeCompatibility(${1:optional_names}, 'IncludeSubfolders', ${2:value})'''
        description: '''analyzeCodeCompatibility(optional_names, 'IncludeSubfolders', value)'''

