# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "rectangle [matlab]":
        prefix: "rectangle"
        body: '''${1:h} = rectangle(${1:optional_ax}, ${2:opts})'''
        description: '''h = rectangle(optional_ax, opts)    [matlab]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/rectangle.html'


    "makehgtform [matlab]":
        prefix: "makehgtform"
        body: '''makehgtform(${1:optional_transform})'''
        description: '''makehgtform(optional_transform)    [matlab]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/makehgtform.html'


    "surface [matlab]":
        prefix: "surface"
        body: '''${1:h} = surface(${1:optional_ax}, ${2:optional_x}, ${3:optional_y}, ${4:z}, ${5:optional_c}, ${6:opts})'''
        description: '''h = surface(optional_ax, optional_x, optional_y, z, optional_c, opts)    [matlab]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/surface.html'


    "text [matlab]":
        prefix: "text"
        body: '''${1:h} = text(${1:optional_ax}, ${2:opts})'''
        description: '''h = text(optional_ax, opts)    [matlab]'''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/text.html'

