# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "appdesigner":
        prefix: "appdesigner"
        body: '''appdesigner(${1:filename})'''
        description: '''appdesigner(${1:filename})'''

