# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
".source.matlab":

    "xmlread":
    prefix: "xmlread"
    body: '''xmlread(${1:filename}, ${2:optional_varargin}, 'AllowDoctype', ${3:value})'''
    description: '''xmlread(${1:filename}, ${2:optional_varargin}, 'AllowDoctype', ${3:value})'''


    "matfile":
    prefix: "matfile"
    body: '''${1:m} = matfile(${1:filename}, 'Writable', ${2:value})'''
    description: '''${1:m} = matfile(${1:filename}, 'Writable', ${2:value})'''


    "xslt":
    prefix: "xslt"
    body: '''${1:result} = xslt(${1:source}, ${2:style}, ${3:dest}, ${4:optional_'-web'})'''
    description: '''${1:result} = xslt(${1:source}, ${2:style}, ${3:dest}, ${4:optional_'-web'})'''


    "writematrix":
    prefix: "writematrix"
    body: '''writematrix(${1:M}, ${2:filename}, 'FileType', ${3:value}, 'DateLocale', ${4:value}, 'Encoding', ${5:value}, 'Delimiter', ${6:value}, 'QuoteStrings', ${7:value})'''
    description: '''writematrix(${1:M}, ${2:filename}, 'FileType', ${3:value}, 'DateLocale', ${4:value}, 'Encoding', ${5:value}, 'Delimiter', ${6:value}, 'QuoteStrings', ${7:value})'''


    "timerfind":
    prefix: "timerfind"
    body: '''${1:out} = timerfind(${1:optional_t}, ${2:optional_S}, 'BusyMode', ${3:value}, 'ErrorFcn', ${4:value}, 'ExecutionMode', ${5:value}, 'Name', ${6:value}, 'ObjectVisibility', ${7:value}, 'Period', ${8:value}, 'StartDelay', ${9:value}, 'StartFcn', ${10:value}, 'StopFcn', ${11:value}, 'Tag', ${12:value}, 'TasksToExecute', ${13:value}, 'TimerFcn', ${14:value}, 'UserData', ${15:value})'''
    description: '''${1:out} = timerfind(${1:optional_t}, ${2:optional_S}, 'BusyMode', ${3:value}, 'ErrorFcn', ${4:value}, 'ExecutionMode', ${5:value}, 'Name', ${6:value}, 'ObjectVisibility', ${7:value}, 'Period', ${8:value}, 'StartDelay', ${9:value}, 'StartFcn', ${10:value}, 'StopFcn', ${11:value}, 'Tag', ${12:value}, 'TasksToExecute', ${13:value}, 'TimerFcn', ${14:value}, 'UserData', ${15:value})'''


    "writecell":
    prefix: "writecell"
    body: '''writecell(${1:C}, ${2:filename}, 'FileType', ${3:value}, 'DateLocale', ${4:value}, 'Encoding', ${5:value}, 'Delimiter', ${6:value}, 'QuoteStrings', ${7:value})'''
    description: '''writecell(${1:C}, ${2:filename}, 'FileType', ${3:value}, 'DateLocale', ${4:value}, 'Encoding', ${5:value}, 'Delimiter', ${6:value}, 'QuoteStrings', ${7:value})'''


    "textscan":
    prefix: "textscan"
    body: '''[${1:C}, ${2:position}] = textscan(${1:source}, ${2:formatSpec}, ${3:optional_N}, 'CollectOutput', ${4:value}, 'CommentStyle', ${5:value}, 'DateLocale', ${6:value}, 'Delimiter', ${7:value}, 'EmptyValue', ${8:value}, 'EndOfLine', ${9:value}, 'ExpChars', ${10:value}, 'HeaderLines', ${11:value}, 'MultipleDelimsAsOne', ${12:value}, 'ReturnOnError', ${13:value}, 'TreatAsEmpty', ${14:value}, 'Whitespace', ${15:value}, 'TextType', ${16:value})'''
    description: '''[${1:C}, ${2:position}] = textscan(${1:source}, ${2:formatSpec}, ${3:optional_N}, 'CollectOutput', ${4:value}, 'CommentStyle', ${5:value}, 'DateLocale', ${6:value}, 'Delimiter', ${7:value}, 'EmptyValue', ${8:value}, 'EndOfLine', ${9:value}, 'ExpChars', ${10:value}, 'HeaderLines', ${11:value}, 'MultipleDelimsAsOne', ${12:value}, 'ReturnOnError', ${13:value}, 'TreatAsEmpty', ${14:value}, 'Whitespace', ${15:value}, 'TextType', ${16:value})'''


    "tar":
    prefix: "tar"
    body: '''tar(${1:tarfilename}, ${2:filenames}, ${3:optional_rootfolder})'''
    description: '''tar(${1:tarfilename}, ${2:filenames}, ${3:optional_rootfolder})'''


    "timer":
    prefix: "timer"
    body: '''${1:t} = timer('BusyMode', ${1:value}, 'ErrorFcn', ${2:value}, 'ExecutionMode', ${3:value}, 'Name', ${4:value}, 'ObjectVisibility', ${5:value}, 'Period', ${6:value}, 'StartDelay', ${7:value}, 'StartFcn', ${8:value}, 'StopFcn', ${9:value}, 'Tag', ${10:value}, 'TasksToExecute', ${11:value}, 'TimerFcn', ${12:value}, 'UserData', ${13:value})'''
    description: '''${1:t} = timer('BusyMode', ${1:value}, 'ErrorFcn', ${2:value}, 'ExecutionMode', ${3:value}, 'Name', ${4:value}, 'ObjectVisibility', ${5:value}, 'Period', ${6:value}, 'StartDelay', ${7:value}, 'StartFcn', ${8:value}, 'StopFcn', ${9:value}, 'Tag', ${10:value}, 'TasksToExecute', ${11:value}, 'TimerFcn', ${12:value}, 'UserData', ${13:value})'''


    "zip":
    prefix: "zip"
    body: '''zip(${1:zipfile}, ${2:files}, ${3:optional_rootfolder})'''
    description: '''zip(${1:zipfile}, ${2:files}, ${3:optional_rootfolder})'''


    "fileread":
    prefix: "fileread"
    body: '''${1:text} = fileread(${1:filename})'''
    description: '''${1:text} = fileread(${1:filename})'''


    "feof":
    prefix: "feof"
    body: '''${1:status} = feof(${1:fileID})'''
    description: '''${1:status} = feof(${1:fileID})'''


    "fseek":
    prefix: "fseek"
    body: '''${1:status} = fseek(${1:fileID}, ${2:offset}, ${3:origin})'''
    description: '''${1:status} = fseek(${1:fileID}, ${2:offset}, ${3:origin})'''


    "writetable":
    prefix: "writetable"
    body: '''writetable(${1:T}, ${2:filename}, 'FileType', ${3:value}, 'WriteVariableNames', ${4:value}, 'WriteRowNames', ${5:value}, 'DateLocale', ${6:value}, 'Delimiter', ${7:value}, 'QuoteStrings', ${8:value}, 'Encoding', ${9:value})'''
    description: '''writetable(${1:T}, ${2:filename}, 'FileType', ${3:value}, 'WriteVariableNames', ${4:value}, 'WriteRowNames', ${5:value}, 'DateLocale', ${6:value}, 'Delimiter', ${7:value}, 'QuoteStrings', ${8:value}, 'Encoding', ${9:value})'''


    "xmlwrite":
    prefix: "xmlwrite"
    body: '''${1:chr} = xmlwrite(${1:DOMnode})'''
    description: '''${1:chr} = xmlwrite(${1:DOMnode})'''


    "xlsread":
    prefix: "xlsread"
    body: '''[${1:num}, ${2:txt}, ${3:raw}, ${4:custom}] = xlsread(${1:filename}, ${2:-1})'''
    description: '''[${1:num}, ${2:txt}, ${3:raw}, ${4:custom}] = xlsread(${1:filename}, ${2:-1})'''


    "fgetl":
    prefix: "fgetl"
    body: '''${1:tline} = fgetl(${1:fileID})'''
    description: '''${1:tline} = fgetl(${1:fileID})'''


    "fwrite":
    prefix: "fwrite"
    body: '''${1:count} = fwrite(${1:fileID}, ${2:A}, ${3:precision}, ${4:skip}, ${5:machinefmt})'''
    description: '''${1:count} = fwrite(${1:fileID}, ${2:A}, ${3:precision}, ${4:skip}, ${5:machinefmt})'''


    "writetimetable":
    prefix: "writetimetable"
    body: '''writetimetable(${1:TT}, ${2:filename}, 'FileType', ${3:value}, 'DateLocale', ${4:value}, 'Encoding', ${5:value}, 'Delimiter', ${6:value}, 'QuoteStrings', ${7:value}, 'WriteVariableNames', ${8:value})'''
    description: '''writetimetable(${1:TT}, ${2:filename}, 'FileType', ${3:value}, 'DateLocale', ${4:value}, 'Encoding', ${5:value}, 'Delimiter', ${6:value}, 'QuoteStrings', ${7:value}, 'WriteVariableNames', ${8:value})'''


    "readmatrix":
    prefix: "readmatrix"
    body: '''${1:A} = readmatrix(${1:filename}, ${2:opts}, 'Sheet', ${3:value}, 'UseExcel', ${4:value})'''
    description: '''${1:A} = readmatrix(${1:filename}, ${2:opts}, 'Sheet', ${3:value}, 'UseExcel', ${4:value})'''


    "dlmwrite":
    prefix: "dlmwrite"
    body: '''dlmwrite(${1:filename}, ${2:N}, ${3:optional_'-append'}, 'delimiter', ${4:value}, 'roffset', ${5:value}, 'coffset', ${6:value}, 'precision', ${7:value}, 'newline', ${8:value})'''
    description: '''dlmwrite(${1:filename}, ${2:N}, ${3:optional_'-append'}, 'delimiter', ${4:value}, 'roffset', ${5:value}, 'coffset', ${6:value}, 'precision', ${7:value}, 'newline', ${8:value})'''


    "importdata":
    prefix: "importdata"
    body: '''[${1:A}, ${2:delimiterOut}, ${3:headerlinesOut}] = importdata(${1:filename}, ${2:delimiterIn}, ${3:optional_headerlinesIn})'''
    description: '''[${1:A}, ${2:delimiterOut}, ${3:headerlinesOut}] = importdata(${1:filename}, ${2:delimiterIn}, ${3:optional_headerlinesIn})'''


    "startat":
    prefix: "startat"
    body: '''startat(${1:t}, ${2:firingTime})'''
    description: '''startat(${1:t}, ${2:firingTime})'''


    "readtable":
    prefix: "readtable"
    body: '''${1:T} = readtable(${1:filename}, ${2:opts}, 'ReadVariableNames', ${3:value}, 'ReadRowNames', ${4:value}, 'Sheet', ${5:value}, 'UseExcel', ${6:value})'''
    description: '''${1:T} = readtable(${1:filename}, ${2:opts}, 'ReadVariableNames', ${3:value}, 'ReadRowNames', ${4:value}, 'Sheet', ${5:value}, 'UseExcel', ${6:value})'''


    "readvars":
    prefix: "readvars"
    body: '''${1:A} = readvars(${1:filename}, ${2:opts}, 'Sheet', ${3:value}, 'UseExcel', ${4:value})'''
    description: '''${1:A} = readvars(${1:filename}, ${2:opts}, 'Sheet', ${3:value}, 'UseExcel', ${4:value})'''


    "fullfile":
    prefix: "fullfile"
    body: '''${1:f} = fullfile(${1:filepart})'''
    description: '''${1:f} = fullfile(${1:filepart})'''


    "ftell":
    prefix: "ftell"
    body: '''${1:position} = ftell(${1:fileID})'''
    description: '''${1:position} = ftell(${1:fileID})'''


    "gzip":
    prefix: "gzip"
    body: '''gzip(${1:files}, ${2:optional_outputdir})'''
    description: '''gzip(${1:files}, ${2:optional_outputdir})'''


    "frewind":
    prefix: "frewind"
    body: '''frewind(${1:fileID})'''
    description: '''frewind(${1:fileID})'''


    "ferror":
    prefix: "ferror"
    body: '''[${1:message}, ${2:errnum}] = ferror(${1:fileID}, ${2:optional_'clear'})'''
    description: '''[${1:message}, ${2:errnum}] = ferror(${1:fileID}, ${2:optional_'clear'})'''


    "fgets":
    prefix: "fgets"
    body: '''${1:tline} = fgets(${1:fileID}, ${2:optional_nchar})'''
    description: '''${1:tline} = fgets(${1:fileID}, ${2:optional_nchar})'''


    "unzip":
    prefix: "unzip"
    body: '''unzip(${1:zipfilename}, ${2:optional_outputdir})'''
    description: '''unzip(${1:zipfilename}, ${2:optional_outputdir})'''


    "readcell":
    prefix: "readcell"
    body: '''${1:A} = readcell(${1:filename}, ${2:opts}, 'Sheet', ${3:value}, 'UseExcel', ${4:value})'''
    description: '''${1:A} = readcell(${1:filename}, ${2:opts}, 'Sheet', ${3:value}, 'UseExcel', ${4:value})'''


    "csvread":
    prefix: "csvread"
    body: '''csvread(${1:filename}, ${2:R1}, ${3:C1}, ${4:optional_range})'''
    description: '''csvread(${1:filename}, ${2:R1}, ${3:C1}, ${4:optional_range})'''


    "xlswrite":
    prefix: "xlswrite"
    body: '''[${1:status}, ${2:message}] = xlswrite(${1:filename}, ${2:A}, ${3:optional_sheet}, ${4:optional_xlRange})'''
    description: '''[${1:status}, ${2:message}] = xlswrite(${1:filename}, ${2:A}, ${3:optional_sheet}, ${4:optional_xlRange})'''


    "timerfindall":
    prefix: "timerfindall"
    body: '''${1:out} = timerfindall(${1:optional_t}, ${2:optional_S}, 'BusyMode', ${3:value}, 'ErrorFcn', ${4:value}, 'ExecutionMode', ${5:value}, 'Name', ${6:value}, 'ObjectVisibility', ${7:value}, 'Period', ${8:value}, 'StartDelay', ${9:value}, 'StartFcn', ${10:value}, 'StopFcn', ${11:value}, 'Tag', ${12:value}, 'TasksToExecute', ${13:value}, 'TimerFcn', ${14:value}, 'UserData', ${15:value})'''
    description: '''${1:out} = timerfindall(${1:optional_t}, ${2:optional_S}, 'BusyMode', ${3:value}, 'ErrorFcn', ${4:value}, 'ExecutionMode', ${5:value}, 'Name', ${6:value}, 'ObjectVisibility', ${7:value}, 'Period', ${8:value}, 'StartDelay', ${9:value}, 'StartFcn', ${10:value}, 'StopFcn', ${11:value}, 'Tag', ${12:value}, 'TasksToExecute', ${13:value}, 'TimerFcn', ${14:value}, 'UserData', ${15:value})'''


    "ftp.ftp":
    prefix: "ftp.ftp"
    body: '''ftp.ftp(${1:host}, ${2:username}, ${3:password}, 'LocalDataConnectionMethod', ${4:value})'''
    description: '''ftp.ftp(${1:host}, ${2:username}, ${3:password}, 'LocalDataConnectionMethod', ${4:value})'''


    "xlsfinfo":
    prefix: "xlsfinfo"
    body: '''[${1:status}, ${2:sheets}, ${3:xlFormat}] = xlsfinfo(${1:filename})'''
    description: '''[${1:status}, ${2:sheets}, ${3:xlFormat}] = xlsfinfo(${1:filename})'''


    "gunzip":
    prefix: "gunzip"
    body: '''gunzip(${1:files}, ${2:optional_outputdir})'''
    description: '''gunzip(${1:files}, ${2:optional_outputdir})'''


    "fclose":
    prefix: "fclose"
    body: '''${1:status} = fclose(${1:'all'})'''
    description: '''${1:status} = fclose(${1:'all'})'''


    "readtimetable":
    prefix: "readtimetable"
    body: '''${1:A} = readtimetable(${1:filename}, ${2:opts}, 'Sheet', ${3:value}, 'UseExcel', ${4:value}, 'ReadVariableNames', ${5:value}, 'RowTimes', ${6:value}, 'SampleRate', ${7:value}, 'StartTime', ${8:value}, 'TimeStep', ${9:value})'''
    description: '''${1:A} = readtimetable(${1:filename}, ${2:opts}, 'Sheet', ${3:value}, 'UseExcel', ${4:value}, 'ReadVariableNames', ${5:value}, 'RowTimes', ${6:value}, 'SampleRate', ${7:value}, 'StartTime', ${8:value}, 'TimeStep', ${9:value})'''


    "csvwrite":
    prefix: "csvwrite"
    body: '''csvwrite(${1:filename}, ${2:M}, ${3:row}, ${4:col})'''
    description: '''csvwrite(${1:filename}, ${2:M}, ${3:row}, ${4:col})'''


    "dlmread":
    prefix: "dlmread"
    body: '''dlmread(${1:filename}, ${2:optional_varargin})'''
    description: '''dlmread(${1:filename}, ${2:optional_varargin})'''


    "fscanf":
    prefix: "fscanf"
    body: '''[${1:A}, ${2:count}] = fscanf(${1:fileID}, ${2:formatSpec}, ${3:optional_sizeA})'''
    description: '''[${1:A}, ${2:count}] = fscanf(${1:fileID}, ${2:formatSpec}, ${3:optional_sizeA})'''


    "fopen":
    prefix: "fopen"
    body: '''${1:fIDs} = fopen(${1:'all'})'''
    description: '''${1:fIDs} = fopen(${1:'all'})'''


    "untar":
    prefix: "untar"
    body: '''untar(${1:tarfilename}, ${2:optional_outputdir})'''
    description: '''untar(${1:tarfilename}, ${2:optional_outputdir})'''


    "fprintf":
    prefix: "fprintf"
    body: '''${1:nbytes} = fprintf(${1:optional_fileID}, ${2:formatSpec}, ${3:A})'''
    description: '''${1:nbytes} = fprintf(${1:optional_fileID}, ${2:formatSpec}, ${3:A})'''


    "fread":
    prefix: "fread"
    body: '''[${1:A}, ${2:count}] = fread(${1:fileID}, ${2:sizeA}, ${3:precision}, ${4:skip}, ${5:machinefmt})'''
    description: '''[${1:A}, ${2:count}] = fread(${1:fileID}, ${2:sizeA}, ${3:precision}, ${4:skip}, ${5:machinefmt})'''

