# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "docroot":
        prefix: "docroot"
        body: '''docroot(${1:newRoot})'''
        description: '''docroot(newRoot)'''


    "doc":
        prefix: "doc"
        body: '''doc(${1:optional_filename})'''
        description: '''doc(optional_filename)'''


    "help":
        prefix: "help"
        body: '''help(${1:optional_filename})'''
        description: '''help(optional_filename)'''

