# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "write":
        prefix: "write"
        body: '''write(${1:obj}, ${2:data})'''
        description: '''write(obj, data)'''


    "tcpclient":
        prefix: "tcpclient"
        body: '''${1:t} = tcpclient(${1:Address}, ${2:Port}, 'Timeout', ${3:value}, 'ConnectTimeout', ${4:value})'''
        description: '''t = tcpclient(Address, Port, 'Timeout', value, 'ConnectTimeout', value)'''


    "read":
        prefix: "read"
        body: '''${1:data} = read(${1:obj}, ${2:size}, ${3:optional_datatype})'''
        description: '''data = read(obj, size, optional_datatype)'''

