# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "uiaxes":
        prefix: "uiaxes"
        body: '''uiaxes(${1:optional_Parent}, ${2:properties})'''
        description: '''uiaxes(optional_Parent, properties)'''

