# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
".source.matlab":

    "guide":
    prefix: "guide"
    body: '''guide(${1:HandleList})'''
    description: '''guide(${1:HandleList})'''

