# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "semilogy":
        prefix: "semilogy"
        body: '''${1:h} = semilogy(${1:optional_ax}, ${2:Y}, ${3:optional_LineSpec}, ${4:opts})'''
        description: '''h = semilogy(optional_ax, Y, optional_LineSpec, opts)'''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/semilogy.html'


    "loglog":
        prefix: "loglog"
        body: '''${1:h} = loglog(${1:optional_ax}, ${2:Y}, ${3:optional_LineSpec}, ${4:opts})'''
        description: '''h = loglog(optional_ax, Y, optional_LineSpec, opts)'''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/loglog.html'


    "axis":
        prefix: "axis"
        body: '''${1:limits} = axis(${1:optional_ax})'''
        description: '''limits = axis(optional_ax)'''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/axis.html'


    "box":
        prefix: "box"
        body: '''box(${1:optional_ax}, ${2:optional_action})'''
        description: '''box(optional_ax, optional_action)'''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/box.html'


    "plot":
        prefix: "plot"
        body: '''${1:h} = plot(${1:optional_ax}, ${2:Y}, ${3:optional_LineSpec}, ${4:opts})'''
        description: '''h = plot(optional_ax, Y, optional_LineSpec, opts)'''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/plot.html'


    "grid":
        prefix: "grid"
        body: '''grid(${1:optional_target}, ${2:optional_action})'''
        description: '''grid(optional_target, optional_action)'''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/grid.html'


    "semilogx":
        prefix: "semilogx"
        body: '''${1:h} = semilogx(${1:optional_ax}, ${2:Y}, ${3:optional_LineSpec}, ${4:opts})'''
        description: '''h = semilogx(optional_ax, Y, optional_LineSpec, opts)'''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/semilogx.html'


    "title":
        prefix: "title"
        body: '''${1:h} = title(${1:target}, ${2:txt}, ${3:opts})'''
        description: '''h = title(target, txt, opts)'''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/title.html'


    "xlabel":
        prefix: "xlabel"
        body: '''${1:h} = xlabel(${1:optional_target}, ${2:txt}, ${3:opts})'''
        description: '''h = xlabel(optional_target, txt, opts)'''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/xlabel.html'


    "ylabel":
        prefix: "ylabel"
        body: '''${1:h} = ylabel(${1:optional_target}, ${2:txt}, ${3:opts})'''
        description: '''h = ylabel(optional_target, txt, opts)'''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/ylabel.html'

