# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "help":
        prefix: "help"
        body: '''help(${1:optional_filename})'''
        description: '''help(optional_filename)'''

