# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "stem3":
        prefix: "stem3"
        body: '''${1:h} = stem3(${1:optional_ax}, ${2:z}, ${3:'filled'}, ${4:LineSpec}, ${5:opts})'''
        description: '''h = stem3(optional_ax, z, 'filled', LineSpec, opts)'''


    "histogram":
        prefix: "histogram"
        body: '''${1:h} = histogram(${1:optional_ax}, ${2:opts})'''
        description: '''h = histogram(optional_ax, opts)'''


    "stairs":
        prefix: "stairs"
        body: '''${1:h} = stairs(${1:optional_ax}, ${2:optional_x}, ${3:y}, ${4:optional_LineSpec}, ${5:opts})'''
        description: '''h = stairs(optional_ax, optional_x, y, optional_LineSpec, opts)'''


    "matlab.graphics.chart.primitive.GraphPlot.labeledge":
        prefix: "matlab.graphics.chart.primitive.GraphPlot.labeledge"
        body: '''matlab.graphics.chart.primitive.GraphPlot.labeledge(${1:H}, ${2:s}, ${3:t}, ${4:Labels})'''
        description: '''matlab.graphics.chart.primitive.GraphPlot.labeledge(H, s, t, Labels)'''


    "quiver":
        prefix: "quiver"
        body: '''${1:h} = quiver(${1:optional_ax}, ${2:u}, ${3:v}, ${4:optional_scale}, ${5:'filled'}, ${6:LineSpec}, ${7:opts})'''
        description: '''h = quiver(optional_ax, u, v, optional_scale, 'filled', LineSpec, opts)'''


    "quiver3":
        prefix: "quiver3"
        body: '''${1:h} = quiver3(${1:optional_ax}, ${2:z}, ${3:u}, ${4:v}, ${5:w}, ${6:optional_scale}, ${7:'filled'}, ${8:LineSpec}, ${9:opts})'''
        description: '''h = quiver3(optional_ax, z, u, v, w, optional_scale, 'filled', LineSpec, opts)'''


    "matlab.graphics.chart.ScatterHistogramChart.ylim":
        prefix: "matlab.graphics.chart.ScatterHistogramChart.ylim"
        body: '''${1:mode} = matlab.graphics.chart.ScatterHistogramChart.ylim(${1:sh}, ${2:mode})'''
        description: '''mode = matlab.graphics.chart.ScatterHistogramChart.ylim(sh, mode)'''


    "wordcloud":
        prefix: "wordcloud"
        body: '''${1:h} = wordcloud(${1:optional_parent}, ${2:tbl}, ${3:wordvar}, ${4:sizevar}, ${5:opts})'''
        description: '''h = wordcloud(optional_parent, tbl, wordvar, sizevar, opts)'''


    "bar":
        prefix: "bar"
        body: '''${1:h} = bar(${1:optional_ax}, ${2:optional_x}, ${3:y}, ${4:optional_width}, ${5:style}, ${6:color}, ${7:opts})'''
        description: '''h = bar(optional_ax, optional_x, y, optional_width, style, color, opts)'''


    "barh":
        prefix: "barh"
        body: '''${1:h} = barh(${1:optional_ax}, ${2:optional_x}, ${3:y}, ${4:optional_width}, ${5:style}, ${6:color}, ${7:opts})'''
        description: '''h = barh(optional_ax, optional_x, y, optional_width, style, color, opts)'''


    "scatter":
        prefix: "scatter"
        body: '''${1:s} = scatter(${1:optional_ax}, ${2:x}, ${3:y}, ${4:optional_sz}, ${5:optional_c}, ${6:'filled'}, ${7:mkr}, ${8:opts})'''
        description: '''s = scatter(optional_ax, x, y, optional_sz, optional_c, 'filled', mkr, opts)'''


    "parallelplot":
        prefix: "parallelplot"
        body: '''${1:p} = parallelplot(${1:optional_parent}, ${2:tbl}, 'CoordinateVariables', ${3:value}, 'GroupVariable', ${4:value}, ${5:opts})'''
        description: '''p = parallelplot(optional_parent, tbl, 'CoordinateVariables', value, 'GroupVariable', value, opts)'''


    "heatmap":
        prefix: "heatmap"
        body: '''${1:h} = heatmap(${1:optional_parent}, ${2:tbl}, ${3:xvar}, ${4:yvar}, 'ColorVariable', ${5:value}, ${6:opts})'''
        description: '''h = heatmap(optional_parent, tbl, xvar, yvar, 'ColorVariable', value, opts)'''


    "matlab.graphics.chart.HeatmapChart.xlim":
        prefix: "matlab.graphics.chart.HeatmapChart.xlim"
        body: '''${1:mode} = matlab.graphics.chart.HeatmapChart.xlim(${1:h}, ${2:mode})'''
        description: '''mode = matlab.graphics.chart.HeatmapChart.xlim(h, mode)'''


    "matlab.graphics.chart.primitive.GraphPlot.layout":
        prefix: "matlab.graphics.chart.primitive.GraphPlot.layout"
        body: '''matlab.graphics.chart.primitive.GraphPlot.layout(${1:h}, ${2:method}, 'Dimension', ${3:value})'''
        description: '''matlab.graphics.chart.primitive.GraphPlot.layout(h, method, 'Dimension', value)'''


    "pie":
        prefix: "pie"
        body: '''pie(${1:optional_ax}, ${2:X}, ${3:optional_explode}, ${4:optional_labels})'''
        description: '''pie(optional_ax, X, optional_explode, optional_labels)'''


    "contour":
        prefix: "contour"
        body: '''[${1:C}, ${2:h}] = contour(${1:optional_ax}, ${2:X}, ${3:Y}, ${4:Z}, ${5:optional_levels}, ${6:optional_LineSpec}, ${7:opts})'''
        description: '''[C, h] = contour(optional_ax, X, Y, Z, optional_levels, optional_LineSpec, opts)'''


    "matlab.graphics.chart.HeatmapChart.ylim":
        prefix: "matlab.graphics.chart.HeatmapChart.ylim"
        body: '''${1:mode} = matlab.graphics.chart.HeatmapChart.ylim(${1:h}, ${2:mode})'''
        description: '''mode = matlab.graphics.chart.HeatmapChart.ylim(h, mode)'''


    "histogram2":
        prefix: "histogram2"
        body: '''${1:h} = histogram2(${1:optional_ax}, ${2:X}, ${3:Y}, ${4:Xedges}, ${5:Yedges}, ${6:options})'''
        description: '''h = histogram2(optional_ax, X, Y, Xedges, Yedges, options)'''


    "scatter3":
        prefix: "scatter3"
        body: '''${1:s} = scatter3(${1:optional_ax}, ${2:x}, ${3:y}, ${4:z}, ${5:optional_a}, ${6:optional_c}, ${7:'filled'}, ${8:markertype}, ${9:opts})'''
        description: '''s = scatter3(optional_ax, x, y, z, optional_a, optional_c, 'filled', markertype, opts)'''


    "matlab.graphics.chart.ScatterHistogramChart.xlim":
        prefix: "matlab.graphics.chart.ScatterHistogramChart.xlim"
        body: '''matlab.graphics.chart.ScatterHistogramChart.xlim(${1:sh}, ${2:mode})'''
        description: '''matlab.graphics.chart.ScatterHistogramChart.xlim(sh, mode)'''


    "stem":
        prefix: "stem"
        body: '''${1:h} = stem(${1:optional_ax}, ${2:optional_x}, ${3:y}, ${4:'filled'}, ${5:LineSpec}, ${6:opts})'''
        description: '''h = stem(optional_ax, optional_x, y, 'filled', LineSpec, opts)'''


    "matlab.graphics.chart.HeatmapChart.sortx":
        prefix: "matlab.graphics.chart.HeatmapChart.sortx"
        body: '''[${1:colordata}, ${2:xdata}] = matlab.graphics.chart.HeatmapChart.sortx(${1:h}, ${2:rows}, ${3:optional_direction}, 'MissingPlacement', ${4:value})'''
        description: '''[colordata, xdata] = matlab.graphics.chart.HeatmapChart.sortx(h, rows, optional_direction, 'MissingPlacement', value)'''


    "contour3":
        prefix: "contour3"
        body: '''[${1:C}, ${2:h}] = contour3(${1:optional_ax}, ${2:X}, ${3:Y}, ${4:Z}, ${5:optional_levels}, ${6:optional_LineSpec}, ${7:opts})'''
        description: '''[C, h] = contour3(optional_ax, X, Y, Z, optional_levels, optional_LineSpec, opts)'''


    "area":
        prefix: "area"
        body: '''${1:h} = area(${1:optional_ax}, ${2:optional_x}, ${3:y}, ${4:optional_basevalue}, ${5:opts})'''
        description: '''h = area(optional_ax, optional_x, y, optional_basevalue, opts)'''


    "binscatter":
        prefix: "binscatter"
        body: '''${1:h} = binscatter(${1:optional_ax}, ${2:X}, ${3:Y}, ${4:optional_nbins}, ${5:options})'''
        description: '''h = binscatter(optional_ax, X, Y, optional_nbins, options)'''


    "errorbar":
        prefix: "errorbar"
        body: '''${1:h} = errorbar(${1:optional_ax}, ${2:y}, ${3:delta}, ${4:orientation}, ${5:LineSpec}, ${6:opts})'''
        description: '''h = errorbar(optional_ax, y, delta, orientation, LineSpec, opts)'''


    "image":
        prefix: "image"
        body: '''${1:im} = image(${1:optional_ax}, ${2:opts})'''
        description: '''im = image(optional_ax, opts)'''


    "matlab.graphics.chart.primitive.GraphPlot.highlight":
        prefix: "matlab.graphics.chart.primitive.GraphPlot.highlight"
        body: '''matlab.graphics.chart.primitive.GraphPlot.highlight(${1:H}, ${2:optional_nodeIDs}, 'Edges', ${3:value}, 'EdgeColor', ${4:value}, 'LineStyle', ${5:value}, 'LineWidth', ${6:value}, 'Marker', ${7:value}, 'MarkerSize', ${8:value}, 'NodeColor', ${9:value}, 'NodeLabelColor', ${10:value}, 'NodeFontSize', ${11:value}, 'NodeFontAngle', ${12:value}, 'NodeFontWeight', ${13:value}, 'EdgeLabelColor', ${14:value}, 'EdgeFontSize', ${15:value}, 'EdgeFontAngle', ${16:value}, 'EdgeFontWeight', ${17:value}, 'ArrowSize', ${18:value}, 'ArrowPosition', ${19:value})'''
        description: '''matlab.graphics.chart.primitive.GraphPlot.highlight(H, optional_nodeIDs, 'Edges', value, 'EdgeColor', value, 'LineStyle', value, 'LineWidth', value, 'Marker', value, 'MarkerSize', value, 'NodeColor', value, 'NodeLabelColor', value, 'NodeFontSize', value, 'NodeFontAngle', value, 'NodeFontWeight', value, 'EdgeLabelColor', value, 'EdgeFontSize', value, 'EdgeFontAngle', value, 'EdgeFontWeight', value, 'ArrowSize', value, 'ArrowPosition', value)'''


    "contourf":
        prefix: "contourf"
        body: '''[${1:C}, ${2:h}] = contourf(${1:optional_ax}, ${2:X}, ${3:Y}, ${4:Z}, ${5:optional_levels}, ${6:optional_LineSpec}, ${7:opts})'''
        description: '''[C, h] = contourf(optional_ax, X, Y, Z, optional_levels, optional_LineSpec, opts)'''


    "imagesc":
        prefix: "imagesc"
        body: '''${1:im} = imagesc(${1:optional_ax})'''
        description: '''im = imagesc(optional_ax)'''


    "matlab.graphics.chart.primitive.GraphPlot.labelnode":
        prefix: "matlab.graphics.chart.primitive.GraphPlot.labelnode"
        body: '''matlab.graphics.chart.primitive.GraphPlot.labelnode(${1:H}, ${2:nodeIDs}, ${3:Labels})'''
        description: '''matlab.graphics.chart.primitive.GraphPlot.labelnode(H, nodeIDs, Labels)'''


    "stackedplot":
        prefix: "stackedplot"
        body: '''${1:h} = stackedplot(${1:optional_parent}, ${2:optional_X}, ${3:Y}, ${4:optional_LineSpec}, ${5:options})'''
        description: '''h = stackedplot(optional_parent, optional_X, Y, optional_LineSpec, options)'''


    "matlab.graphics.chart.HeatmapChart.sorty":
        prefix: "matlab.graphics.chart.HeatmapChart.sorty"
        body: '''[${1:colordata}, ${2:ydata}] = matlab.graphics.chart.HeatmapChart.sorty(${1:h}, ${2:columns}, ${3:optional_direction}, 'MissingPlacement', ${4:value})'''
        description: '''[colordata, ydata] = matlab.graphics.chart.HeatmapChart.sorty(h, columns, optional_direction, 'MissingPlacement', value)'''


    "scatterhistogram":
        prefix: "scatterhistogram"
        body: '''${1:sh} = scatterhistogram(${1:optional_parent}, ${2:tbl}, ${3:xvar}, ${4:yvar}, 'GroupVariable', ${5:value}, ${6:opts})'''
        description: '''sh = scatterhistogram(optional_parent, tbl, xvar, yvar, 'GroupVariable', value, opts)'''

