# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
".source.matlab":

    "doc":
    prefix: "doc"
    body: '''doc(${1:optional_filename})'''
    description: '''doc(${1:optional_filename})'''

