# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "weboptions":
        prefix: "weboptions"
        body: '''weboptions(${1:name})'''
        description: '''weboptions(${1:name})'''

