# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "mpiSettings":
        prefix: "mpiSettings"
        body: '''mpiSettings('MessageLoggingDestination', ${1:value})'''
        description: '''mpiSettings('MessageLoggingDestination', value)'''
        descriptionMoreURL: 'https://www.mathworks.com/help/parallel/ref/mpiSettings.html'

