# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
".source.matlab":

    "mpiSettings":
    prefix: "mpiSettings"
    body: '''mpiSettings('MessageLoggingDestination', ${1:value})'''
    description: '''mpiSettings('MessageLoggingDestination', ${1:value})'''

