# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "canDatabase":
        prefix: "canDatabase"
        body: '''${1:obj} = canDatabase(${1:File})'''
        description: '''obj = canDatabase(File)'''

