# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "sheetnames":
        prefix: "sheetnames"
        body: '''${1:sn} = sheetnames(${1:filename})'''
        description: '''${1:sn} = sheetnames(${1:filename})'''

