# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "mlreportgen.utils.rptviewer.open":
        prefix: "mlreportgen.utils.rptviewer.open"
        body: '''mlreportgen.utils.rptviewer.open(${1:file})'''
        description: '''mlreportgen.utils.rptviewer.open(${1:file})'''


    "mlreportgen.utils.powerpoint.open":
        prefix: "mlreportgen.utils.powerpoint.open"
        body: '''mlreportgen.utils.powerpoint.open(${1:file})'''
        description: '''mlreportgen.utils.powerpoint.open(${1:file})'''


    "mlreportgen.utils.word.show":
        prefix: "mlreportgen.utils.word.show"
        body: '''mlreportgen.utils.word.show(${1:file})'''
        description: '''mlreportgen.utils.word.show(${1:file})'''


    "mlreportgen.utils.word.close":
        prefix: "mlreportgen.utils.word.close"
        body: '''mlreportgen.utils.word.close(${1:file})'''
        description: '''mlreportgen.utils.word.close(${1:file})'''


    "mlreportgen.utils.word.load":
        prefix: "mlreportgen.utils.word.load"
        body: '''mlreportgen.utils.word.load(${1:file})'''
        description: '''mlreportgen.utils.word.load(${1:file})'''


    "mlreportgen.utils.powerpoint.close":
        prefix: "mlreportgen.utils.powerpoint.close"
        body: '''mlreportgen.utils.powerpoint.close(${1:file})'''
        description: '''mlreportgen.utils.powerpoint.close(${1:file})'''


    "mlreportgen.utils.word.hide":
        prefix: "mlreportgen.utils.word.hide"
        body: '''mlreportgen.utils.word.hide(${1:file})'''
        description: '''mlreportgen.utils.word.hide(${1:file})'''


    "mlreportgen.utils.word.open":
        prefix: "mlreportgen.utils.word.open"
        body: '''mlreportgen.utils.word.open(${1:file})'''
        description: '''mlreportgen.utils.word.open(${1:file})'''


    "mlreportgen.utils.powerpoint.show":
        prefix: "mlreportgen.utils.powerpoint.show"
        body: '''mlreportgen.utils.powerpoint.show(${1:file})'''
        description: '''mlreportgen.utils.powerpoint.show(${1:file})'''


    "mlreportgen.utils.powerpoint.load":
        prefix: "mlreportgen.utils.powerpoint.load"
        body: '''mlreportgen.utils.powerpoint.load(${1:file})'''
        description: '''mlreportgen.utils.powerpoint.load(${1:file})'''


    "mlreportgen.utils.powerpoint.hide":
        prefix: "mlreportgen.utils.powerpoint.hide"
        body: '''mlreportgen.utils.powerpoint.hide(${1:file})'''
        description: '''mlreportgen.utils.powerpoint.hide(${1:file})'''

