# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "Simulink.SimulationInput.setVariable":
        prefix: "Simulink.SimulationInput.setVariable"
        body: '''Simulink.SimulationInput.setVariable(${1:obj}, ${2:name}, ${3:value}, 'Workspace', ${4:value})'''
        description: '''Simulink.SimulationInput.setVariable(obj, name, value, 'Workspace', value)'''
        descriptionMoreURL: 'https://www.mathworks.com/help/simulink/ref/Simulink.SimulationInput.setVariable.html'


    "Simulink.SimulationInput.applyToModel":
        prefix: "Simulink.SimulationInput.applyToModel"
        body: '''Simulink.SimulationInput.applyToModel(${1:Object}, 'EnableConfigSetRefUpdate', ${2:value})'''
        description: '''Simulink.SimulationInput.applyToModel(Object, 'EnableConfigSetRefUpdate', value)'''
        descriptionMoreURL: 'https://www.mathworks.com/help/simulink/ref/Simulink.SimulationInput.applyToModel.html'


    "Simulink.SimulationInput":
        prefix: "Simulink.SimulationInput"
        body: '''Simulink.SimulationInput(${1:model})'''
        description: '''Simulink.SimulationInput(model)'''
        descriptionMoreURL: 'https://www.mathworks.com/help/simulink/ref/Simulink.SimulationInput.html'

