# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "symunit":
        prefix: "symunit"
        body: '''${1:unit} = symunit(${1:optional_unit})'''
        description: '''${1:unit} = symunit(${1:optional_unit})'''


    "symReadSSCVariables":
        prefix: "symReadSSCVariables"
        body: '''[${1:names}, ${2:values}, ${3:units}] = symReadSSCVariables(${1:componentName}, 'ReturnFunctions', ${2:value})'''
        description: '''[${1:names}, ${2:values}, ${3:units}] = symReadSSCVariables(${1:componentName}, 'ReturnFunctions', ${2:value})'''


    "simplify":
        prefix: "simplify"
        body: '''${1:expr} = simplify(${1:S}, 'Criterion', ${2:value}, 'IgnoreAnalyticConstraints', ${3:value}, 'Seconds', ${4:value}, 'Steps', ${5:value}, 'All', ${6:value})'''
        description: '''${1:expr} = simplify(${1:S}, 'Criterion', ${2:value}, 'IgnoreAnalyticConstraints', ${3:value}, 'Seconds', ${4:value}, 'Steps', ${5:value}, 'All', ${6:value})'''


    "sympref":
        prefix: "sympref"
        body: '''sympref('FloatingPointOutput', ${1:value})'''
        description: '''sympref('FloatingPointOutput', ${1:value})'''


    "isSymType":
        prefix: "isSymType"
        body: '''${1:result} = isSymType(${1:ex}, ${2:t})'''
        description: '''${1:result} = isSymType(${1:ex}, ${2:t})'''


    "acosh":
        prefix: "acosh"
        body: '''${1:Y} = acosh(${1:X})'''
        description: '''${1:Y} = acosh(${1:X})'''


    "solve":
        prefix: "solve"
        body: '''[${1:y1}, ${2:y2}] = solve(${1:eqn}, ${2:var}, 'ReturnConditions', ${3:value}, 'IgnoreAnalyticConstraints', ${4:value}, 'IgnoreProperties', ${5:value}, 'MaxDegree', ${6:value}, 'PrincipalValue', ${7:value}, 'Real', ${8:value})'''
        description: '''[${1:y1}, ${2:y2}] = solve(${1:eqn}, ${2:var}, 'ReturnConditions', ${3:value}, 'IgnoreAnalyticConstraints', ${4:value}, 'IgnoreProperties', ${5:value}, 'MaxDegree', ${6:value}, 'PrincipalValue', ${7:value}, 'Real', ${8:value})'''


    "symWriteSSC":
        prefix: "symWriteSSC"
        body: '''[${1:names}, ${2:values}, ${3:units}] = symWriteSSC(${1:newComponentName}, ${2:templateComponentName}, ${3:eqns}, 'H1Header', ${4:value}, 'HelpText', ${5:value})'''
        description: '''[${1:names}, ${2:values}, ${3:units}] = symWriteSSC(${1:newComponentName}, ${2:templateComponentName}, ${3:eqns}, 'H1Header', ${4:value}, 'HelpText', ${5:value})'''


    "jacobiCN":
        prefix: "jacobiCN"
        body: '''${1:result} = jacobiCN(${1:u}, ${2:m})'''
        description: '''${1:result} = jacobiCN(${1:u}, ${2:m})'''


    "allMuPADNoteBooks":
        prefix: "allMuPADNoteBooks"
        body: '''${1:L} = allMuPADNoteBooks()'''
        description: '''${1:L} = allMuPADNoteBooks()'''


    "jacobiZeta":
        prefix: "jacobiZeta"
        body: '''${1:result} = jacobiZeta(${1:u}, ${2:m})'''
        description: '''${1:result} = jacobiZeta(${1:u}, ${2:m})'''


    "odeToVectorField":
        prefix: "odeToVectorField"
        body: '''[${1:V}, ${2:Y}] = odeToVectorField(${1:eqn})'''
        description: '''[${1:V}, ${2:Y}] = odeToVectorField(${1:eqn})'''


    "dsolve":
        prefix: "dsolve"
        body: '''${1:S} = dsolve(${1:eqns}, ${2:optional_conds}, 'IgnoreAnalyticConstraints', ${3:value}, 'MaxDegree', ${4:value})'''
        description: '''${1:S} = dsolve(${1:eqns}, ${2:optional_conds}, 'IgnoreAnalyticConstraints', ${3:value}, 'MaxDegree', ${4:value})'''


    "symReadSSCParameters":
        prefix: "symReadSSCParameters"
        body: '''[${1:names}, ${2:values}, ${3:units}] = symReadSSCParameters(${1:componentName})'''
        description: '''[${1:names}, ${2:values}, ${3:units}] = symReadSSCParameters(${1:componentName})'''


    "symType":
        prefix: "symType"
        body: '''${1:t} = symType(${1:ex})'''
        description: '''${1:t} = symType(${1:ex})'''


    "jacobiDS":
        prefix: "jacobiDS"
        body: '''${1:result} = jacobiDS(${1:u}, ${2:m})'''
        description: '''${1:result} = jacobiDS(${1:u}, ${2:m})'''


    "factor":
        prefix: "factor"
        body: '''${1:expr} = factor(${1:S}, ${2:optional_Vars}, 'FactorMode', ${3:value})'''
        description: '''${1:expr} = factor(${1:S}, ${2:optional_Vars}, 'FactorMode', ${3:value})'''


    "digits":
        prefix: "digits"
        body: '''${1:d1} = digits(${1:optional_d})'''
        description: '''${1:d1} = digits(${1:optional_d})'''


    "ifourier":
        prefix: "ifourier"
        body: '''${1:result} = ifourier(${1:F}, ${2:w}, ${3:optional_x})'''
        description: '''${1:result} = ifourier(${1:F}, ${2:w}, ${3:optional_x})'''


    "simplifyFraction":
        prefix: "simplifyFraction"
        body: '''${1:expr} = simplifyFraction(${1:expr}, 'Expand', ${2:value})'''
        description: '''${1:expr} = simplifyFraction(${1:expr}, 'Expand', ${2:value})'''


    "jacobiCS":
        prefix: "jacobiCS"
        body: '''${1:result} = jacobiCS(${1:u}, ${2:m})'''
        description: '''${1:result} = jacobiCS(${1:u}, ${2:m})'''


    "jacobiSN":
        prefix: "jacobiSN"
        body: '''${1:result} = jacobiSN(${1:u}, ${2:m})'''
        description: '''${1:result} = jacobiSN(${1:u}, ${2:m})'''


    "jacobiDC":
        prefix: "jacobiDC"
        body: '''${1:result} = jacobiDC(${1:u}, ${2:m})'''
        description: '''${1:result} = jacobiDC(${1:u}, ${2:m})'''


    "chol":
        prefix: "chol"
        body: '''[${1:R}, ${2:p}, ${3:s}] = chol(${1:A}, ${2:optional_flag})'''
        description: '''[${1:R}, ${2:p}, ${3:s}] = chol(${1:A}, ${2:optional_flag})'''


    "harmonic":
        prefix: "harmonic"
        body: '''${1:result} = harmonic(${1:x})'''
        description: '''${1:result} = harmonic(${1:x})'''


    "symFunType":
        prefix: "symFunType"
        body: '''${1:t} = symFunType(${1:ex})'''
        description: '''${1:t} = symFunType(${1:ex})'''


    "unitInfo":
        prefix: "unitInfo"
        body: '''${1:unitsOrDimensions} = unitInfo(${1:optional_unit})'''
        description: '''${1:unitsOrDimensions} = unitInfo(${1:optional_unit})'''


    "jacobiAM":
        prefix: "jacobiAM"
        body: '''${1:result} = jacobiAM(${1:u}, ${2:m})'''
        description: '''${1:result} = jacobiAM(${1:u}, ${2:m})'''


    "findSymType":
        prefix: "findSymType"
        body: '''${1:result} = findSymType(${1:ex}, ${2:t})'''
        description: '''${1:result} = findSymType(${1:ex}, ${2:t})'''


    "jacobiNC":
        prefix: "jacobiNC"
        body: '''${1:result} = jacobiNC(${1:u}, ${2:m})'''
        description: '''${1:result} = jacobiNC(${1:u}, ${2:m})'''


    "hasSymType":
        prefix: "hasSymType"
        body: '''${1:result} = hasSymType(${1:ex}, ${2:t})'''
        description: '''${1:result} = hasSymType(${1:ex}, ${2:t})'''


    "bernstein":
        prefix: "bernstein"
        body: '''${1:b} = bernstein(${1:g}, ${2:var}, ${3:n}, ${4:t})'''
        description: '''${1:b} = bernstein(${1:g}, ${2:var}, ${3:n}, ${4:t})'''


    "jacobiNS":
        prefix: "jacobiNS"
        body: '''${1:result} = jacobiNS(${1:u}, ${2:m})'''
        description: '''${1:result} = jacobiNS(${1:u}, ${2:m})'''


    "mathml":
        prefix: "mathml"
        body: '''${1:code} = mathml(${1:expr}, 'DisplayInline', ${2:value}, 'Tooltips', ${3:value})'''
        description: '''${1:code} = mathml(${1:expr}, 'DisplayInline', ${2:value}, 'Tooltips', ${3:value})'''


    "catalan":
        prefix: "catalan"
        body: '''${1:catalan} = catalan()'''
        description: '''${1:catalan} = catalan()'''


    "eulergamma":
        prefix: "eulergamma"
        body: '''${1:eulergamma} = eulergamma()'''
        description: '''${1:eulergamma} = eulergamma()'''


    "rewrite":
        prefix: "rewrite"
        body: '''${1:expr} = rewrite(${1:expr}, ${2:target})'''
        description: '''${1:expr} = rewrite(${1:expr}, ${2:target})'''


    "unitConvert":
        prefix: "unitConvert"
        body: '''${1:expr} = unitConvert(${1:expr}, ${2:target})'''
        description: '''${1:expr} = unitConvert(${1:expr}, ${2:target})'''


    "jacobiND":
        prefix: "jacobiND"
        body: '''${1:result} = jacobiND(${1:u}, ${2:m})'''
        description: '''${1:result} = jacobiND(${1:u}, ${2:m})'''


    "assumptions":
        prefix: "assumptions"
        body: '''${1:result} = assumptions()'''
        description: '''${1:result} = assumptions()'''


    "cell2sym":
        prefix: "cell2sym"
        body: '''${1:S} = cell2sym(${1:C}, ${2:optional_flag})'''
        description: '''${1:S} = cell2sym(${1:C}, ${2:optional_flag})'''


    "convertMuPADNotebook":
        prefix: "convertMuPADNotebook"
        body: '''convertMuPADNotebook(${1:MuPADfile}, ${2:MATLABLiveScript})'''
        description: '''convertMuPADNotebook(${1:MuPADfile}, ${2:MATLABLiveScript})'''


    "expand":
        prefix: "expand"
        body: '''${1:expr} = expand(${1:S}, 'ArithmeticOnly', ${2:value}, 'IgnoreAnalyticConstraints', ${3:value})'''
        description: '''${1:expr} = expand(${1:S}, 'ArithmeticOnly', ${2:value}, 'IgnoreAnalyticConstraints', ${3:value})'''


    "heaviside":
        prefix: "heaviside"
        body: '''${1:result} = heaviside(${1:n})'''
        description: '''${1:result} = heaviside(${1:n})'''


    "bernsteinMatrix":
        prefix: "bernsteinMatrix"
        body: '''${1:B} = bernsteinMatrix(${1:n}, ${2:t})'''
        description: '''${1:B} = bernsteinMatrix(${1:n}, ${2:t})'''


    "decic":
        prefix: "decic"
        body: '''[${1:y}, ${2:yp0}] = decic(${1:eqs}, ${2:vars}, ${3:constr}, ${4:t0}, ${5:y0_est}, ${6:fixedVars}, ${7:yp0_est}, ${8:optional_options})'''
        description: '''[${1:y}, ${2:yp0}] = decic(${1:eqs}, ${2:vars}, ${3:constr}, ${4:t0}, ${5:y0_est}, ${6:fixedVars}, ${7:yp0_est}, ${8:optional_options})'''


    "mapSymType":
        prefix: "mapSymType"
        body: '''${1:result} = mapSymType(${1:ex}, ${2:t}, ${3:fun})'''
        description: '''${1:result} = mapSymType(${1:ex}, ${2:t}, ${3:fun})'''


    "jacobiSD":
        prefix: "jacobiSD"
        body: '''${1:result} = jacobiSD(${1:u}, ${2:m})'''
        description: '''${1:result} = jacobiSD(${1:u}, ${2:m})'''


    "isAlways":
        prefix: "isAlways"
        body: '''${1:expr} = isAlways(${1:cond}, 'Unknown', ${2:value})'''
        description: '''${1:expr} = isAlways(${1:cond}, 'Unknown', ${2:value})'''


    "partfrac":
        prefix: "partfrac"
        body: '''${1:expr} = partfrac(${1:expr}, ${2:optional_expr}, 'FactorMode', ${3:value})'''
        description: '''${1:expr} = partfrac(${1:expr}, ${2:optional_expr}, 'FactorMode', ${3:value})'''


    "unitConversionFactor":
        prefix: "unitConversionFactor"
        body: '''${1:C} = unitConversionFactor(${1:unit1}, ${2:unit2}, 'Force', ${3:value})'''
        description: '''${1:C} = unitConversionFactor(${1:unit1}, ${2:unit2}, 'Force', ${3:value})'''


    "combine":
        prefix: "combine"
        body: '''${1:expr} = combine(${1:S}, ${2:optional_T}, 'IgnoreAnalyticConstraints', ${3:value})'''
        description: '''${1:expr} = combine(${1:S}, ${2:optional_T}, 'IgnoreAnalyticConstraints', ${3:value})'''


    "jacobiSC":
        prefix: "jacobiSC"
        body: '''${1:result} = jacobiSC(${1:u}, ${2:m})'''
        description: '''${1:result} = jacobiSC(${1:u}, ${2:m})'''


    "jacobiDN":
        prefix: "jacobiDN"
        body: '''${1:result} = jacobiDN(${1:u}, ${2:m})'''
        description: '''${1:result} = jacobiDN(${1:u}, ${2:m})'''

